/*!
Theme Name: Clutch 2.0
Theme URI: http://underscores.me/
Author: Alexander Perez
Author URI: http://devbrainhack.co
Description: For Clutch Magazine
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: clutch-2-0
Tags:

Clutch 2.0 is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

// Mixins, vars
@import "_s/variables-site/variables-site";
@import "_s/mixins/mixins-master";
@import "clutch/custom_vars_mixins"; 

/* Underscores - styles, grid, elements */
@import "_s/normalize";
@import "_s/elements/elements";
@import "_s/navigation/navigation";
@import "_s/modules/accessibility";
@import "_s/modules/clearings";
@import "_s/site/site";
@import "_s/media/media";

// Boostrap
@import "bootstrap/bootstrap";

/* CUSTOM STYLES */
@import "clutch/nav.mobile-nav";
@import "clutch/nav.site-header";
@import "clutch/nav.footer";
@import "clutch/heroes.category";
@import "clutch/post-types";
@import "clutch/post-types.featured-large";
@import "clutch/post-types.full-width";
@import "clutch/post-types.half";
@import "clutch/post-types.mini-vid";
@import "clutch/post-types.narrow";
@import "clutch/post-types.top-posts";
@import "clutch/sidebar-widgets";
@import "clutch/sidebar-widgets.trending";
@import "clutch/sidebar-widgets.latest";
@import "clutch/ad-units.square";
@import "clutch/ad-units.wide";
@import "clutch/articles";
@import "clutch/heroes.article";
@import "clutch/articles.sharing";
@import "clutch/search";
@import "clutch/category-pages";

// TODO: consolidate all major breakpoints into variables
// TODO: convert font sizes to variables (rems)
// TODO: tighten styles and refactor constants to vars
// TODO: make sure the full-width widgets are set to "Stretch: full-width" in the VC widget options 
//       - can make this default for the widget? (JS?)


/////////////
//  Debug  //
/////////////

// WP specific, clean ui for editing
/*#wpadminbar { display: none; }*/
/*.entry-footer { display: none; }*/


///////////////////
//  Root styles  //
///////////////////

html {
    font-size: $base-font-size;
}


/////////////////
//  VC resets  //
/////////////////

.hentry {
    margin-bottom: 0; // reset
}

.entry-content { 
    background: $color__site-background;

    @media (min-width: 768px) {
        padding: 0 $size__content-outer-padding; 
    }
}

.wpb_row { margin-bottom: 0px !important; }

.entry-content {
    overflow: hidden;

    .vc_row:not(:first-of-type) {
        margin-top: 2em;
        margin-bottom: 2em;
    }

    > [class*='vc_row'] > [class*='vc_col']{
        &:first-of-type {
            padding-right: 1.8em;
            padding-left: 1.8em;
        }

        &:not(:first-of-type) {
            padding-left: 1.8em;
            /*border-left: 1px dotted darken($color__sidebar-border, 15%);*/
            border-left: 1px solid darken($color__sidebar-border, 15%);
        }
    }

}

////////////////////////////
//  General Theme Styles  //
////////////////////////////

hr {
    width: 100%;
    margin: 1.5em auto 0;
    border-top: 1px solid $color__sidebar-border;

    &.narrow {
        margin-top: 2em;

        &:last-of-type {
            display: none;
        }
    }
}

.shift-right {
    position: relative;
    left: $size__mobile-nav-shift;
}

#shadow {
    position: fixed;
    top: 0;
    left: 0;
    background:rgba(0,0,0,0.6);
    z-index:9999;
    width:100%;
    height:100%;
    display:none;

    &.active {
        display: block;
    }
}


/////////////////////////
//  Shortcode-related  //
/////////////////////////

.youtube-embed *:not(iframe) {
    display: none;
}

.youtube-embed iframe {
    margin-top: 1em;
}
