@charset "UTF-8";
/*!
Theme Name: Clutch 2.0
Theme URI: http://underscores.me/
Author: Alexander Perez
Author URI: http://devbrainhack.co
Description: For Clutch Magazine
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: clutch-2-0
Tags:

Clutch 2.0 is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/
@font-face {
  font-family: 'JubilatBold';
  src: url("fonts/jubilat-bold-webfont.eot");
  src: url("fonts/jubilat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/jubilat-bold-webfont.woff") format("woff"), url("fonts/jubilat-bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'JubilatRegular';
  src: url("fonts/jubilat-regular-webfont.eot");
  src: url("fonts/jubilat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/jubilat-regular-webfont.woff") format("woff"), url("fonts/jubilat-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url("fonts/HelveticaNeue-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url("fonts/HelveticaNeue.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url("fonts/HelveticaNeue-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Aleo Regular';
  src: url("fonts/Aleo-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Futura ICG Demi';
  src: url("fonts/futura-icg-demi.ttf");
  font-weight: normal;
  font-style: normal;
}
/*$color__text-screen: #21759b;*/
/* compensate for: custom col paddings + 30px/2 <- bootstrap @grid-gutter-width used w/ neg margins */
.fw {
  width: 100%;
}

.reset-margins, .category-hero .heading, .heading, .half .heading, .mini-vid .heading, .article-hero .heading {
  margin: 0;
}

.reset-padding {
  padding: 0 !important;
}

.shrink {
  height: 0em !important;
  padding-top: 0 !important;
}

.header-adjusted {
  margin-top: -webkit-calc(-4.25em) !important;
  margin-top: calc(-4.25em) !important;
}

/* Underscores - styles, grid, elements */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */
}

blockquote, q {
  quotes: "" "";
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

ul, ol {
  margin: 0 0 1.5em 3em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}

/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: royalblue;
}
a:visited {
  color: purple;
}
a:hover, a:focus, a:active {
  color: midnightblue;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%;
}
.main-navigation ul {
  display: none;
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 1.5em;
  left: -999em;
  z-index: 99999;
}
.main-navigation ul ul ul {
  left: -999em;
  top: 0;
}
.main-navigation ul ul li:hover > ul, .main-navigation ul ul li.focus > ul {
  left: 100%;
}
.main-navigation ul ul a {
  width: 200px;
}
.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
  left: auto;
}
.main-navigation li {
  float: left;
  position: relative;
}
.main-navigation a {
  display: block;
  text-decoration: none;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none;
  }

  .main-navigation ul {
    display: block;
  }
}
.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
}
.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}
.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: black;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block;
}

.hentry {
  margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

.wp-caption-text {
  text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}
.gallery-columns-2 .gallery-item {
  max-width: 50%;
}
.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
  max-width: 25%;
}
.gallery-columns-5 .gallery-item {
  max-width: 20%;
}
.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-caption {
  display: block;
}

/*!
 * Bootstrap v3.3.5 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*$headings-color:          inherit !default;*/
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*@import "bootstrap/print";*/
/*@import "bootstrap/glyphicons";*/
* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #333333;
  background-color: #fff;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: #337ab7;
  text-decoration: none;
}
a:hover, a:focus {
  color: #23527c;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

figure {
  margin: 0;
}

img {
  vertical-align: middle;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-rounded {
  border-radius: 6px;
}

.img-thumbnail {
  padding: 4px;
  line-height: 1.42857;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.img-circle {
  border-radius: 50%;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

[role="button"] {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: black;
}
h1 small,
h1 .small, h2 small,
h2 .small, h3 small,
h3 .small, h4 small,
h4 .small, h5 small,
h5 .small, h6 small,
h6 .small,
.h1 small,
.h1 .small, .h2 small,
.h2 .small, .h3 small,
.h3 .small, .h4 small,
.h4 .small, .h5 small,
.h5 .small, .h6 small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #777777;
}

h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h1 small,
h1 .small, .h1 small,
.h1 .small,
h2 small,
h2 .small, .h2 small,
.h2 .small,
h3 small,
h3 .small, .h3 small,
.h3 .small {
  font-size: 65%;
}

h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h4 small,
h4 .small, .h4 small,
.h4 .small,
h5 small,
h5 .small, .h5 small,
.h5 .small,
h6 small,
h6 .small, .h6 small,
.h6 .small {
  font-size: 75%;
}

h1, .h1 {
  font-size: 36px;
}

h2, .h2 {
  font-size: 30px;
}

h3, .h3 {
  font-size: 24px;
}

h4, .h4 {
  font-size: 18px;
}

h5, .h5 {
  font-size: 14px;
}

h6, .h6 {
  font-size: 12px;
}

p {
  margin: 0 0 10px;
}

.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .lead {
    font-size: 21px;
  }
}

small,
.small {
  font-size: 85%;
}

mark,
.mark {
  background-color: #fcf8e3;
  padding: .2em;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-nowrap {
  white-space: nowrap;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase, .initialism {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-muted {
  color: #777777;
}

.text-primary {
  color: #337ab7;
}

a.text-primary:hover,
a.text-primary:focus {
  color: #286090;
}

.text-success {
  color: #3c763d;
}

a.text-success:hover,
a.text-success:focus {
  color: #2b542c;
}

.text-info {
  color: #31708f;
}

a.text-info:hover,
a.text-info:focus {
  color: #245269;
}

.text-warning {
  color: #8a6d3b;
}

a.text-warning:hover,
a.text-warning:focus {
  color: #66512c;
}

.text-danger {
  color: #a94442;
}

a.text-danger:hover,
a.text-danger:focus {
  color: #843534;
}

.bg-primary {
  color: #fff;
}

.bg-primary {
  background-color: #337ab7;
}

a.bg-primary:hover,
a.bg-primary:focus {
  background-color: #286090;
}

.bg-success {
  background-color: #dff0d8;
}

a.bg-success:hover,
a.bg-success:focus {
  background-color: #c1e2b3;
}

.bg-info {
  background-color: #d9edf7;
}

a.bg-info:hover,
a.bg-info:focus {
  background-color: #afd9ee;
}

.bg-warning {
  background-color: #fcf8e3;
}

a.bg-warning:hover,
a.bg-warning:focus {
  background-color: #f7ecb5;
}

.bg-danger {
  background-color: #f2dede;
}

a.bg-danger:hover,
a.bg-danger:focus {
  background-color: #e4b9b9;
}

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}
ul ul,
ul ol,
ol ul,
ol ol {
  margin-bottom: 0;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

dl {
  margin-top: 0;
  margin-bottom: 20px;
}

dt,
dd {
  line-height: 1.42857;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

.dl-horizontal dd:before, .dl-horizontal dd:after {
  content: " ";
  display: table;
}
.dl-horizontal dd:after {
  clear: both;
}
@media (min-width: 768px) {
  .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .dl-horizontal dd {
    margin-left: 180px;
  }
}

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #777777;
}

.initialism {
  font-size: 90%;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eeeeee;
}
blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0;
}
blockquote footer,
blockquote small,
blockquote .small {
  display: block;
  font-size: 80%;
  line-height: 1.42857;
  color: #777777;
}
blockquote footer:before,
blockquote small:before,
blockquote .small:before {
  content: '\2014 \00A0';
}

.blockquote-reverse,
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
  text-align: right;
}
.blockquote-reverse footer:before,
.blockquote-reverse small:before,
.blockquote-reverse .small:before,
blockquote.pull-right footer:before,
blockquote.pull-right small:before,
blockquote.pull-right .small:before {
  content: '';
}
.blockquote-reverse footer:after,
.blockquote-reverse small:after,
.blockquote-reverse .small:after,
blockquote.pull-right footer:after,
blockquote.pull-right small:after,
blockquote.pull-right .small:after {
  content: '\00A0 \2014';
}

address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.42857;
}

code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: #fff;
  background-color: #333;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}
kbd kbd {
  padding: 0;
  font-size: 100%;
  font-weight: bold;
  box-shadow: none;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857;
  word-break: break-all;
  word-wrap: break-word;
  color: #333333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}
pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}

.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container:before, .container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container-fluid:before, .container-fluid:after {
  content: " ";
  display: table;
}
.container-fluid:after {
  clear: both;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row:before, .row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}

.col-xs-1 {
  width: 8.33333%;
}

.col-xs-2 {
  width: 16.66667%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-4 {
  width: 33.33333%;
}

.col-xs-5 {
  width: 41.66667%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-7 {
  width: 58.33333%;
}

.col-xs-8 {
  width: 66.66667%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-10 {
  width: 83.33333%;
}

.col-xs-11 {
  width: 91.66667%;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-pull-0 {
  right: auto;
}

.col-xs-pull-1 {
  right: 8.33333%;
}

.col-xs-pull-2 {
  right: 16.66667%;
}

.col-xs-pull-3 {
  right: 25%;
}

.col-xs-pull-4 {
  right: 33.33333%;
}

.col-xs-pull-5 {
  right: 41.66667%;
}

.col-xs-pull-6 {
  right: 50%;
}

.col-xs-pull-7 {
  right: 58.33333%;
}

.col-xs-pull-8 {
  right: 66.66667%;
}

.col-xs-pull-9 {
  right: 75%;
}

.col-xs-pull-10 {
  right: 83.33333%;
}

.col-xs-pull-11 {
  right: 91.66667%;
}

.col-xs-pull-12 {
  right: 100%;
}

.col-xs-push-0 {
  left: auto;
}

.col-xs-push-1 {
  left: 8.33333%;
}

.col-xs-push-2 {
  left: 16.66667%;
}

.col-xs-push-3 {
  left: 25%;
}

.col-xs-push-4 {
  left: 33.33333%;
}

.col-xs-push-5 {
  left: 41.66667%;
}

.col-xs-push-6 {
  left: 50%;
}

.col-xs-push-7 {
  left: 58.33333%;
}

.col-xs-push-8 {
  left: 66.66667%;
}

.col-xs-push-9 {
  left: 75%;
}

.col-xs-push-10 {
  left: 83.33333%;
}

.col-xs-push-11 {
  left: 91.66667%;
}

.col-xs-push-12 {
  left: 100%;
}

.col-xs-offset-0 {
  margin-left: 0%;
}

.col-xs-offset-1 {
  margin-left: 8.33333%;
}

.col-xs-offset-2 {
  margin-left: 16.66667%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.33333%;
}

.col-xs-offset-5 {
  margin-left: 41.66667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.33333%;
}

.col-xs-offset-8 {
  margin-left: 66.66667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.33333%;
}

.col-xs-offset-11 {
  margin-left: 91.66667%;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }

  .col-sm-1 {
    width: 8.33333%;
  }

  .col-sm-2 {
    width: 16.66667%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.33333%;
  }

  .col-sm-5 {
    width: 41.66667%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.33333%;
  }

  .col-sm-8 {
    width: 66.66667%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.33333%;
  }

  .col-sm-11 {
    width: 91.66667%;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-pull-0 {
    right: auto;
  }

  .col-sm-pull-1 {
    right: 8.33333%;
  }

  .col-sm-pull-2 {
    right: 16.66667%;
  }

  .col-sm-pull-3 {
    right: 25%;
  }

  .col-sm-pull-4 {
    right: 33.33333%;
  }

  .col-sm-pull-5 {
    right: 41.66667%;
  }

  .col-sm-pull-6 {
    right: 50%;
  }

  .col-sm-pull-7 {
    right: 58.33333%;
  }

  .col-sm-pull-8 {
    right: 66.66667%;
  }

  .col-sm-pull-9 {
    right: 75%;
  }

  .col-sm-pull-10 {
    right: 83.33333%;
  }

  .col-sm-pull-11 {
    right: 91.66667%;
  }

  .col-sm-pull-12 {
    right: 100%;
  }

  .col-sm-push-0 {
    left: auto;
  }

  .col-sm-push-1 {
    left: 8.33333%;
  }

  .col-sm-push-2 {
    left: 16.66667%;
  }

  .col-sm-push-3 {
    left: 25%;
  }

  .col-sm-push-4 {
    left: 33.33333%;
  }

  .col-sm-push-5 {
    left: 41.66667%;
  }

  .col-sm-push-6 {
    left: 50%;
  }

  .col-sm-push-7 {
    left: 58.33333%;
  }

  .col-sm-push-8 {
    left: 66.66667%;
  }

  .col-sm-push-9 {
    left: 75%;
  }

  .col-sm-push-10 {
    left: 83.33333%;
  }

  .col-sm-push-11 {
    left: 91.66667%;
  }

  .col-sm-push-12 {
    left: 100%;
  }

  .col-sm-offset-0 {
    margin-left: 0%;
  }

  .col-sm-offset-1 {
    margin-left: 8.33333%;
  }

  .col-sm-offset-2 {
    margin-left: 16.66667%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-4 {
    margin-left: 33.33333%;
  }

  .col-sm-offset-5 {
    margin-left: 41.66667%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-7 {
    margin-left: 58.33333%;
  }

  .col-sm-offset-8 {
    margin-left: 66.66667%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-10 {
    margin-left: 83.33333%;
  }

  .col-sm-offset-11 {
    margin-left: 91.66667%;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  .col-md-1 {
    width: 8.33333%;
  }

  .col-md-2 {
    width: 16.66667%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33333%;
  }

  .col-md-5 {
    width: 41.66667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33333%;
  }

  .col-md-8 {
    width: 66.66667%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.33333%;
  }

  .col-md-11 {
    width: 91.66667%;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-pull-0 {
    right: auto;
  }

  .col-md-pull-1 {
    right: 8.33333%;
  }

  .col-md-pull-2 {
    right: 16.66667%;
  }

  .col-md-pull-3 {
    right: 25%;
  }

  .col-md-pull-4 {
    right: 33.33333%;
  }

  .col-md-pull-5 {
    right: 41.66667%;
  }

  .col-md-pull-6 {
    right: 50%;
  }

  .col-md-pull-7 {
    right: 58.33333%;
  }

  .col-md-pull-8 {
    right: 66.66667%;
  }

  .col-md-pull-9 {
    right: 75%;
  }

  .col-md-pull-10 {
    right: 83.33333%;
  }

  .col-md-pull-11 {
    right: 91.66667%;
  }

  .col-md-pull-12 {
    right: 100%;
  }

  .col-md-push-0 {
    left: auto;
  }

  .col-md-push-1 {
    left: 8.33333%;
  }

  .col-md-push-2 {
    left: 16.66667%;
  }

  .col-md-push-3 {
    left: 25%;
  }

  .col-md-push-4 {
    left: 33.33333%;
  }

  .col-md-push-5 {
    left: 41.66667%;
  }

  .col-md-push-6 {
    left: 50%;
  }

  .col-md-push-7 {
    left: 58.33333%;
  }

  .col-md-push-8 {
    left: 66.66667%;
  }

  .col-md-push-9 {
    left: 75%;
  }

  .col-md-push-10 {
    left: 83.33333%;
  }

  .col-md-push-11 {
    left: 91.66667%;
  }

  .col-md-push-12 {
    left: 100%;
  }

  .col-md-offset-0 {
    margin-left: 0%;
  }

  .col-md-offset-1 {
    margin-left: 8.33333%;
  }

  .col-md-offset-2 {
    margin-left: 16.66667%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-4 {
    margin-left: 33.33333%;
  }

  .col-md-offset-5 {
    margin-left: 41.66667%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-7 {
    margin-left: 58.33333%;
  }

  .col-md-offset-8 {
    margin-left: 66.66667%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-10 {
    margin-left: 83.33333%;
  }

  .col-md-offset-11 {
    margin-left: 91.66667%;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }

  .col-lg-1 {
    width: 8.33333%;
  }

  .col-lg-2 {
    width: 16.66667%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.33333%;
  }

  .col-lg-5 {
    width: 41.66667%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.33333%;
  }

  .col-lg-8 {
    width: 66.66667%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.33333%;
  }

  .col-lg-11 {
    width: 91.66667%;
  }

  .col-lg-12 {
    width: 100%;
  }

  .col-lg-pull-0 {
    right: auto;
  }

  .col-lg-pull-1 {
    right: 8.33333%;
  }

  .col-lg-pull-2 {
    right: 16.66667%;
  }

  .col-lg-pull-3 {
    right: 25%;
  }

  .col-lg-pull-4 {
    right: 33.33333%;
  }

  .col-lg-pull-5 {
    right: 41.66667%;
  }

  .col-lg-pull-6 {
    right: 50%;
  }

  .col-lg-pull-7 {
    right: 58.33333%;
  }

  .col-lg-pull-8 {
    right: 66.66667%;
  }

  .col-lg-pull-9 {
    right: 75%;
  }

  .col-lg-pull-10 {
    right: 83.33333%;
  }

  .col-lg-pull-11 {
    right: 91.66667%;
  }

  .col-lg-pull-12 {
    right: 100%;
  }

  .col-lg-push-0 {
    left: auto;
  }

  .col-lg-push-1 {
    left: 8.33333%;
  }

  .col-lg-push-2 {
    left: 16.66667%;
  }

  .col-lg-push-3 {
    left: 25%;
  }

  .col-lg-push-4 {
    left: 33.33333%;
  }

  .col-lg-push-5 {
    left: 41.66667%;
  }

  .col-lg-push-6 {
    left: 50%;
  }

  .col-lg-push-7 {
    left: 58.33333%;
  }

  .col-lg-push-8 {
    left: 66.66667%;
  }

  .col-lg-push-9 {
    left: 75%;
  }

  .col-lg-push-10 {
    left: 83.33333%;
  }

  .col-lg-push-11 {
    left: 91.66667%;
  }

  .col-lg-push-12 {
    left: 100%;
  }

  .col-lg-offset-0 {
    margin-left: 0%;
  }

  .col-lg-offset-1 {
    margin-left: 8.33333%;
  }

  .col-lg-offset-2 {
    margin-left: 16.66667%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-4 {
    margin-left: 33.33333%;
  }

  .col-lg-offset-5 {
    margin-left: 41.66667%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-7 {
    margin-left: 58.33333%;
  }

  .col-lg-offset-8 {
    margin-left: 66.66667%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-10 {
    margin-left: 83.33333%;
  }

  .col-lg-offset-11 {
    margin-left: 91.66667%;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }
}
table {
  background-color: transparent;
}

caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777777;
  text-align: left;
}

th {
  text-align: left;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
.table > caption + thead > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > th,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #ddd;
}
.table .table {
  background-color: #fff;
}

.table-condensed > thead > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > th,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > th,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}

.table-bordered {
  border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > tfoot > tr > td {
  border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
}

table col[class*="col-"] {
  position: static;
  float: none;
  display: table-column;
}

table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  float: none;
  display: table-cell;
}

.table > thead > tr > td.active,
.table > thead > tr > th.active, .table > thead > tr.active > td, .table > thead > tr.active > th,
.table > tbody > tr > td.active,
.table > tbody > tr > th.active,
.table > tbody > tr.active > td,
.table > tbody > tr.active > th,
.table > tfoot > tr > td.active,
.table > tfoot > tr > th.active,
.table > tfoot > tr.active > td,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}

.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover, .table-hover > tbody > tr.active:hover > td, .table-hover > tbody > tr:hover > .active, .table-hover > tbody > tr.active:hover > th {
  background-color: #e8e8e8;
}

.table > thead > tr > td.success,
.table > thead > tr > th.success, .table > thead > tr.success > td, .table > thead > tr.success > th,
.table > tbody > tr > td.success,
.table > tbody > tr > th.success,
.table > tbody > tr.success > td,
.table > tbody > tr.success > th,
.table > tfoot > tr > td.success,
.table > tfoot > tr > th.success,
.table > tfoot > tr.success > td,
.table > tfoot > tr.success > th {
  background-color: #dff0d8;
}

.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover, .table-hover > tbody > tr.success:hover > td, .table-hover > tbody > tr:hover > .success, .table-hover > tbody > tr.success:hover > th {
  background-color: #d0e9c6;
}

.table > thead > tr > td.info,
.table > thead > tr > th.info, .table > thead > tr.info > td, .table > thead > tr.info > th,
.table > tbody > tr > td.info,
.table > tbody > tr > th.info,
.table > tbody > tr.info > td,
.table > tbody > tr.info > th,
.table > tfoot > tr > td.info,
.table > tfoot > tr > th.info,
.table > tfoot > tr.info > td,
.table > tfoot > tr.info > th {
  background-color: #d9edf7;
}

.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover, .table-hover > tbody > tr.info:hover > td, .table-hover > tbody > tr:hover > .info, .table-hover > tbody > tr.info:hover > th {
  background-color: #c4e3f3;
}

.table > thead > tr > td.warning,
.table > thead > tr > th.warning, .table > thead > tr.warning > td, .table > thead > tr.warning > th,
.table > tbody > tr > td.warning,
.table > tbody > tr > th.warning,
.table > tbody > tr.warning > td,
.table > tbody > tr.warning > th,
.table > tfoot > tr > td.warning,
.table > tfoot > tr > th.warning,
.table > tfoot > tr.warning > td,
.table > tfoot > tr.warning > th {
  background-color: #fcf8e3;
}

.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover, .table-hover > tbody > tr.warning:hover > td, .table-hover > tbody > tr:hover > .warning, .table-hover > tbody > tr.warning:hover > th {
  background-color: #faf2cc;
}

.table > thead > tr > td.danger,
.table > thead > tr > th.danger, .table > thead > tr.danger > td, .table > thead > tr.danger > th,
.table > tbody > tr > td.danger,
.table > tbody > tr > th.danger,
.table > tbody > tr.danger > td,
.table > tbody > tr.danger > th,
.table > tfoot > tr > td.danger,
.table > tfoot > tr > th.danger,
.table > tfoot > tr.danger > td,
.table > tfoot > tr.danger > th {
  background-color: #f2dede;
}

.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover, .table-hover > tbody > tr.danger:hover > td, .table-hover > tbody > tr:hover > .danger, .table-hover > tbody > tr.danger:hover > th {
  background-color: #ebcccc;
}

.table-responsive {
  overflow-x: auto;
  min-height: 0.01%;
}
@media screen and (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
  }
  .table-responsive > .table {
    margin-bottom: 0;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="search"] {
  box-sizing: border-box;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}

input[type="file"] {
  display: block;
}

input[type="range"] {
  display: block;
  width: 100%;
}

select[multiple],
select[size] {
  height: auto;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

output {
  display: block;
  padding-top: 7px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555555;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: #eeeeee;
  opacity: 1;
}
.form-control[disabled], fieldset[disabled] .form-control {
  cursor: not-allowed;
}

textarea.form-control {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: none;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="date"].form-control,
  input[type="time"].form-control,
  input[type="datetime-local"].form-control,
  input[type="month"].form-control {
    line-height: 34px;
  }
  input[type="date"].input-sm, .input-group-sm input[type="date"],
  input[type="time"].input-sm, .input-group-sm
  input[type="time"],
  input[type="datetime-local"].input-sm, .input-group-sm
  input[type="datetime-local"],
  input[type="month"].input-sm, .input-group-sm
  input[type="month"] {
    line-height: 30px;
  }
  input[type="date"].input-lg, .input-group-lg input[type="date"],
  input[type="time"].input-lg, .input-group-lg
  input[type="time"],
  input[type="datetime-local"].input-lg, .input-group-lg
  input[type="datetime-local"],
  input[type="month"].input-lg, .input-group-lg
  input[type="month"] {
    line-height: 46px;
  }
}
.form-group {
  margin-bottom: 15px;
}

.radio,
.checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
.radio label,
.checkbox label {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-left: -20px;
  margin-top: 4px \9;
}

.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px;
}

.radio-inline,
.checkbox-inline {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}

.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}

input[type="radio"][disabled], input[type="radio"].disabled, fieldset[disabled] input[type="radio"],
input[type="checkbox"][disabled],
input[type="checkbox"].disabled, fieldset[disabled]
input[type="checkbox"] {
  cursor: not-allowed;
}

.radio-inline.disabled, fieldset[disabled] .radio-inline,
.checkbox-inline.disabled, fieldset[disabled]
.checkbox-inline {
  cursor: not-allowed;
}

.radio.disabled label, fieldset[disabled] .radio label,
.checkbox.disabled label, fieldset[disabled]
.checkbox label {
  cursor: not-allowed;
}

.form-control-static {
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 0;
  min-height: 34px;
}
.form-control-static.input-lg, .form-control-static.input-sm {
  padding-left: 0;
  padding-right: 0;
}

.input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

select.input-sm {
  height: 30px;
  line-height: 30px;
}

textarea.input-sm,
select[multiple].input-sm {
  height: auto;
}

.form-group-sm .form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.form-group-sm select.form-control {
  height: 30px;
  line-height: 30px;
}
.form-group-sm textarea.form-control,
.form-group-sm select[multiple].form-control {
  height: auto;
}
.form-group-sm .form-control-static {
  height: 30px;
  min-height: 32px;
  padding: 6px 10px;
  font-size: 12px;
  line-height: 1.5;
}

.input-lg {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33333;
  border-radius: 6px;
}

select.input-lg {
  height: 46px;
  line-height: 46px;
}

textarea.input-lg,
select[multiple].input-lg {
  height: auto;
}

.form-group-lg .form-control {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33333;
  border-radius: 6px;
}
.form-group-lg select.form-control {
  height: 46px;
  line-height: 46px;
}
.form-group-lg textarea.form-control,
.form-group-lg select[multiple].form-control {
  height: auto;
}
.form-group-lg .form-control-static {
  height: 46px;
  min-height: 38px;
  padding: 11px 16px;
  font-size: 18px;
  line-height: 1.33333;
}

.has-feedback {
  position: relative;
}
.has-feedback .form-control {
  padding-right: 42.5px;
}

.form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  pointer-events: none;
}

.input-lg + .form-control-feedback,
.input-group-lg + .form-control-feedback,
.form-group-lg .form-control + .form-control-feedback {
  width: 46px;
  height: 46px;
  line-height: 46px;
}

.input-sm + .form-control-feedback,
.input-group-sm + .form-control-feedback,
.form-group-sm .form-control + .form-control-feedback {
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline, .has-success.radio label, .has-success.checkbox label, .has-success.radio-inline label, .has-success.checkbox-inline label {
  color: #3c763d;
}
.has-success .form-control {
  border-color: #3c763d;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-success .form-control:focus {
  border-color: #2b542c;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}
.has-success .input-group-addon {
  color: #3c763d;
  border-color: #3c763d;
  background-color: #dff0d8;
}
.has-success .form-control-feedback {
  color: #3c763d;
}

.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline, .has-warning.radio label, .has-warning.checkbox label, .has-warning.radio-inline label, .has-warning.checkbox-inline label {
  color: #8a6d3b;
}
.has-warning .form-control {
  border-color: #8a6d3b;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-warning .form-control:focus {
  border-color: #66512c;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
}
.has-warning .input-group-addon {
  color: #8a6d3b;
  border-color: #8a6d3b;
  background-color: #fcf8e3;
}
.has-warning .form-control-feedback {
  color: #8a6d3b;
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
  color: #a94442;
}
.has-error .form-control {
  border-color: #a94442;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-error .form-control:focus {
  border-color: #843534;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}
.has-error .input-group-addon {
  color: #a94442;
  border-color: #a94442;
  background-color: #f2dede;
}
.has-error .form-control-feedback {
  color: #a94442;
}

.has-feedback label ~ .form-control-feedback {
  top: 25px;
}
.has-feedback label.sr-only ~ .form-control-feedback {
  top: 0;
}

.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}

@media (min-width: 768px) {
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .form-inline .form-control-static {
    display: inline-block;
  }
  .form-inline .input-group {
    display: inline-table;
    vertical-align: middle;
  }
  .form-inline .input-group .input-group-addon,
  .form-inline .input-group .input-group-btn,
  .form-inline .input-group .form-control {
    width: auto;
  }
  .form-inline .input-group > .form-control {
    width: 100%;
  }
  .form-inline .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .radio,
  .form-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .radio label,
  .form-inline .checkbox label {
    padding-left: 0;
  }
  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0;
  }
  .form-inline .has-feedback .form-control-feedback {
    top: 0;
  }
}

.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px;
}
.form-horizontal .radio,
.form-horizontal .checkbox {
  min-height: 27px;
}
.form-horizontal .form-group {
  margin-left: -15px;
  margin-right: -15px;
}
.form-horizontal .form-group:before, .form-horizontal .form-group:after {
  content: " ";
  display: table;
}
.form-horizontal .form-group:after {
  clear: both;
}
@media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 7px;
  }
}
.form-horizontal .has-feedback .form-control-feedback {
  right: 15px;
}
@media (min-width: 768px) {
  .form-horizontal .form-group-lg .control-label {
    padding-top: 14.33333px;
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  .form-horizontal .form-group-sm .control-label {
    padding-top: 6px;
    font-size: 12px;
  }
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover, .btn:focus, .btn.focus {
  color: #333;
  text-decoration: none;
}
.btn:active, .btn.active {
  outline: 0;
  background-image: none;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  box-shadow: none;
}

a.btn.disabled, fieldset[disabled] a.btn {
  pointer-events: none;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:focus, .btn-default.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active:hover, .btn-default:active:focus, .btn-default:active.focus, .btn-default.active:hover, .btn-default.active:focus, .btn-default.active.focus, .open > .btn-default.dropdown-toggle:hover, .open > .btn-default.dropdown-toggle:focus, .open > .btn-default.dropdown-toggle.focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
.btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
  background-image: none;
}
.btn-default.disabled, .btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled.focus, .btn-default.disabled:active, .btn-default.disabled.active, .btn-default[disabled], .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled].focus, .btn-default[disabled]:active, .btn-default[disabled].active, fieldset[disabled] .btn-default, fieldset[disabled] .btn-default:hover, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default.focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default.active {
  background-color: #fff;
  border-color: #ccc;
}
.btn-default .badge {
  color: #fff;
  background-color: #333;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #286090;
  border-color: #122b40;
}
.btn-primary:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus, .open > .btn-primary.dropdown-toggle:hover, .open > .btn-primary.dropdown-toggle:focus, .open > .btn-primary.dropdown-toggle.focus {
  color: #fff;
  background-color: #204d74;
  border-color: #122b40;
}
.btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
  background-image: none;
}
.btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-primary .badge {
  color: #337ab7;
  background-color: #fff;
}

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success:focus, .btn-success.focus {
  color: #fff;
  background-color: #449d44;
  border-color: #255625;
}
.btn-success:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.btn-success:active, .btn-success.active, .open > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.btn-success:active:hover, .btn-success:active:focus, .btn-success:active.focus, .btn-success.active:hover, .btn-success.active:focus, .btn-success.active.focus, .open > .btn-success.dropdown-toggle:hover, .open > .btn-success.dropdown-toggle:focus, .open > .btn-success.dropdown-toggle.focus {
  color: #fff;
  background-color: #398439;
  border-color: #255625;
}
.btn-success:active, .btn-success.active, .open > .btn-success.dropdown-toggle {
  background-image: none;
}
.btn-success.disabled, .btn-success.disabled:hover, .btn-success.disabled:focus, .btn-success.disabled.focus, .btn-success.disabled:active, .btn-success.disabled.active, .btn-success[disabled], .btn-success[disabled]:hover, .btn-success[disabled]:focus, .btn-success[disabled].focus, .btn-success[disabled]:active, .btn-success[disabled].active, fieldset[disabled] .btn-success, fieldset[disabled] .btn-success:hover, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success.focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success.active {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success .badge {
  color: #5cb85c;
  background-color: #fff;
}

.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info:focus, .btn-info.focus {
  color: #fff;
  background-color: #31b0d5;
  border-color: #1b6d85;
}
.btn-info:hover {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.btn-info:active, .btn-info.active, .open > .btn-info.dropdown-toggle {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.btn-info:active:hover, .btn-info:active:focus, .btn-info:active.focus, .btn-info.active:hover, .btn-info.active:focus, .btn-info.active.focus, .open > .btn-info.dropdown-toggle:hover, .open > .btn-info.dropdown-toggle:focus, .open > .btn-info.dropdown-toggle.focus {
  color: #fff;
  background-color: #269abc;
  border-color: #1b6d85;
}
.btn-info:active, .btn-info.active, .open > .btn-info.dropdown-toggle {
  background-image: none;
}
.btn-info.disabled, .btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled.focus, .btn-info.disabled:active, .btn-info.disabled.active, .btn-info[disabled], .btn-info[disabled]:hover, .btn-info[disabled]:focus, .btn-info[disabled].focus, .btn-info[disabled]:active, .btn-info[disabled].active, fieldset[disabled] .btn-info, fieldset[disabled] .btn-info:hover, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info.focus, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info.active {
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info .badge {
  color: #5bc0de;
  background-color: #fff;
}

.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-warning:focus, .btn-warning.focus {
  color: #fff;
  background-color: #ec971f;
  border-color: #985f0d;
}
.btn-warning:hover {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}
.btn-warning:active, .btn-warning.active, .open > .btn-warning.dropdown-toggle {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}
.btn-warning:active:hover, .btn-warning:active:focus, .btn-warning:active.focus, .btn-warning.active:hover, .btn-warning.active:focus, .btn-warning.active.focus, .open > .btn-warning.dropdown-toggle:hover, .open > .btn-warning.dropdown-toggle:focus, .open > .btn-warning.dropdown-toggle.focus {
  color: #fff;
  background-color: #d58512;
  border-color: #985f0d;
}
.btn-warning:active, .btn-warning.active, .open > .btn-warning.dropdown-toggle {
  background-image: none;
}
.btn-warning.disabled, .btn-warning.disabled:hover, .btn-warning.disabled:focus, .btn-warning.disabled.focus, .btn-warning.disabled:active, .btn-warning.disabled.active, .btn-warning[disabled], .btn-warning[disabled]:hover, .btn-warning[disabled]:focus, .btn-warning[disabled].focus, .btn-warning[disabled]:active, .btn-warning[disabled].active, fieldset[disabled] .btn-warning, fieldset[disabled] .btn-warning:hover, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning.focus, fieldset[disabled] .btn-warning:active, fieldset[disabled] .btn-warning.active {
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-warning .badge {
  color: #f0ad4e;
  background-color: #fff;
}

.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger:focus, .btn-danger.focus {
  color: #fff;
  background-color: #c9302c;
  border-color: #761c19;
}
.btn-danger:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.btn-danger:active, .btn-danger.active, .open > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.btn-danger:active:hover, .btn-danger:active:focus, .btn-danger:active.focus, .btn-danger.active:hover, .btn-danger.active:focus, .btn-danger.active.focus, .open > .btn-danger.dropdown-toggle:hover, .open > .btn-danger.dropdown-toggle:focus, .open > .btn-danger.dropdown-toggle.focus {
  color: #fff;
  background-color: #ac2925;
  border-color: #761c19;
}
.btn-danger:active, .btn-danger.active, .open > .btn-danger.dropdown-toggle {
  background-image: none;
}
.btn-danger.disabled, .btn-danger.disabled:hover, .btn-danger.disabled:focus, .btn-danger.disabled.focus, .btn-danger.disabled:active, .btn-danger.disabled.active, .btn-danger[disabled], .btn-danger[disabled]:hover, .btn-danger[disabled]:focus, .btn-danger[disabled].focus, .btn-danger[disabled]:active, .btn-danger[disabled].active, fieldset[disabled] .btn-danger, fieldset[disabled] .btn-danger:hover, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger.focus, fieldset[disabled] .btn-danger:active, fieldset[disabled] .btn-danger.active {
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger .badge {
  color: #d9534f;
  background-color: #fff;
}

.btn-link {
  color: #337ab7;
  font-weight: normal;
  border-radius: 0;
}
.btn-link, .btn-link:active, .btn-link.active, .btn-link[disabled], fieldset[disabled] .btn-link {
  background-color: transparent;
  box-shadow: none;
}
.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
  border-color: transparent;
}
.btn-link:hover, .btn-link:focus {
  color: #23527c;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover, .btn-link[disabled]:focus, fieldset[disabled] .btn-link:hover, fieldset[disabled] .btn-link:focus {
  color: #777777;
  text-decoration: none;
}

.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33333;
  border-radius: 6px;
}

.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-block + .btn-block {
  margin-top: 5px;
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}

.collapse {
  display: none;
}
.collapse.in {
  display: block;
}

tr.collapse.in {
  display: table-row;
}

tbody.collapse.in {
  display: table-row-group;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

/*@import "bootstrap/dropdowns";*/
/*@import "bootstrap/button-groups";*/
/*@import "bootstrap/input-groups";*/
/*@import "bootstrap/navs";*/
/*@import "bootstrap/navbar";*/
/*@import "bootstrap/breadcrumbs";*/
/*@import "bootstrap/pagination";*/
/*@import "bootstrap/pager";*/
/*@import "bootstrap/labels";*/
/*@import "bootstrap/badges";*/
/*@import "bootstrap/jumbotron";*/
/*@import "bootstrap/thumbnails";*/
/*@import "bootstrap/alerts";*/
/*@import "bootstrap/progress-bars";*/
.media {
  margin-top: 15px;
}
.media:first-child {
  margin-top: 0;
}

.media,
.media-body {
  zoom: 1;
  overflow: hidden;
}

.media-body {
  width: 10000px;
}

.media-object {
  display: block;
}
.media-object.img-thumbnail {
  max-width: none;
}

.media-right,
.media > .pull-right {
  padding-left: 10px;
}

.media-left,
.media > .pull-left {
  padding-right: 10px;
}

.media-left,
.media-right,
.media-body {
  display: table-cell;
  vertical-align: top;
}

.media-middle {
  vertical-align: middle;
}

.media-bottom {
  vertical-align: bottom;
}

.media-heading {
  margin-top: 0;
  margin-bottom: 5px;
}

.media-list {
  padding-left: 0;
  list-style: none;
}

/*@import "bootstrap/list-group";*/
/*@import "bootstrap/panels";*/
.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border: 0;
}

.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}

.embed-responsive-4by3 {
  padding-bottom: 75%;
}

/*@import "bootstrap/wells";*/
/*@import "bootstrap/close";*/
/*@import "bootstrap/modals";*/
/*@import "bootstrap/tooltip";*/
/*@import "bootstrap/popovers";*/
/*@import "bootstrap/carousel";*/
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.hidden {
  display: none !important;
}

.affix {
  position: fixed;
}

@-ms-viewport {
  width: device-width;
}
.visible-xs {
  display: none !important;
}

.visible-sm {
  display: none !important;
}

.visible-md {
  display: none !important;
}

.visible-lg {
  display: none !important;
}

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}

@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }

  table.visible-xs {
    display: table !important;
  }

  tr.visible-xs {
    display: table-row !important;
  }

  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}

@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}

@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }

  table.visible-sm {
    display: table !important;
  }

  tr.visible-sm {
    display: table-row !important;
  }

  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }

  table.visible-md {
    display: table !important;
  }

  tr.visible-md {
    display: table-row !important;
  }

  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }

  table.visible-lg {
    display: table !important;
  }

  tr.visible-lg {
    display: table-row !important;
  }

  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}

@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}

@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}

@media print {
  .visible-print {
    display: block !important;
  }

  table.visible-print {
    display: table !important;
  }

  tr.visible-print {
    display: table-row !important;
  }

  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}

.visible-print-inline {
  display: none !important;
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}

.visible-print-inline-block {
  display: none !important;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}

@media print {
  .hidden-print {
    display: none !important;
  }
}
/* CUSTOM STYLES */
.mobile-nav {
  position: fixed;
  left: -24em;
  width: 24em;
  height: 100vh;
  background: white;
  z-index: 9999;
}
.mobile-nav.open {
  left: 0;
}
.mobile-nav .logo {
  width: 60%;
  margin: 2em auto 0;
}
.mobile-nav .menu {
  margin: 2em .85em;
  padding-left: 0;
}
.mobile-nav .menu li {
  padding: .7em 1em .75em 1em;
  border-bottom: 1px solid #e6e6e6;
  list-style: none;
  font-family: 'Helvetica Neue';
  font-size: 1.35em;
  font-weight: 600;
  text-transform: uppercase;
}
.mobile-nav .menu li a {
  color: black !important;
}
.mobile-nav .menu li a:hover {
  color: black;
  text-decoration: none;
}
.mobile-nav .social {
  display: block;
  margin-top: 4em;
  text-align: center;
}
.mobile-nav .social a {
  color: gray;
}
.mobile-nav .social a:hover {
  color: #212968;
}
.mobile-nav .social i {
  width: 1.5em;
  height: 1.5em;
  border: 1px solid lightgray;
  border-radius: 100%;
  text-align: center;
  font-size: 2em;
  line-height: 1.5em;
}

.site-header {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: auto;
  background: white;
  box-shadow: 0px -15px 35px 13px black;
  z-index: 100;
}
.site-header .top {
  padding: .75em 0 .75em 0;
  background: white;
}
.site-header .logo {
  width: 200px;
  margin: 0 auto;
}
.site-header .menu {
  position: relative;
  height: 0;
  background: rgba(255, 255, 255, 0.8);
}
.site-header .menu .logo {
  display: none;
  width: 10.5em;
  position: absolute;
  left: 13%;
  top: 23%;
}
.site-header [class*=-toggle] {
  display: block !important;
  height: 45%;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  font-size: 2rem;
  color: #212968;
}
.site-header .top .menu-toggle {
  left: 7%;
}
.site-header .top .search-toggle {
  width: 100%;
  right: -90%;
}
.site-header .social,
.site-header .menu,
.site-header .ad {
  display: none;
}
@media (min-width: 768px) {
  .site-header .menu {
    font-size: 1em;
  }
}
@media (min-width: 1024px) {
  .site-header {
    position: relative;
    margin-bottom: -2em;
  }
  .site-header .top .search-toggle,
  .site-header .top .menu-toggle {
    display: none !important;
  }
  .site-header .menu .search-toggle,
  .site-header .menu .menu-toggle {
    display: block;
    position: absolute;
    font-size: 1.5rem;
    color: #212968;
  }
  .site-header .menu .menu-toggle {
    margin-left: 7.5%;
  }
  .site-header .menu .search-toggle {
    right: 10%;
    z-index: 2;
  }
  .site-header .top {
    padding: 1em 0 0 0;
  }
  .site-header .logo {
    width: 37em;
  }
  .site-header .logo img {
    width: 100%;
    height: auto;
  }
  .site-header .social {
    display: block;
    position: absolute;
    left: 7.5%;
    /* 180px / 2400px (from mock) */
    top: -webkit-calc( 1.25rem );
    top: calc( 1.25rem );
  }
  .site-header .social a {
    color: gray;
  }
  .site-header .social a:hover {
    color: #212968;
  }
  .site-header .social i {
    width: 1.5em;
    height: 1.5em;
    border: 1px solid lightgray;
    border-radius: 100%;
    font-size: 1.65rem;
    line-height: 1.5em;
    text-align: center;
  }
  .site-header .ad {
    display: block;
    position: absolute;
    top: 0;
    right: -webkit-calc(6% +  100px);
    right: calc(6% +  100px);
  }
  .site-header .menu {
    display: block;
    height: auto;
    padding: .5em 0 .95em 0;
    text-transform: uppercase;
  }
  .site-header .menu .items {
    overflow: hidden;
  }
  .site-header .menu .items > div {
    position: relative;
    left: 50%;
    float: left;
  }
  .site-header .menu .items ul {
    position: relative;
    left: -50%;
    float: left;
    margin-left: .25em;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .site-header .menu li {
    float: left;
    list-style: none;
    font-size: 1.15rem;
    font-weight: bold;
    font-family: Helvetica Neue, sans-serif;
  }
  .site-header .menu li a {
    color: black !important;
  }
  .site-header .menu li a:hover {
    color: black;
    text-decoration: none;
  }
  .site-header .menu li:not(:first-of-type) {
    margin-left: .65em;
  }
  .site-header .menu span:not(:first-of-type) {
    margin-left: 1em;
  }
  .site-header.sticky {
    position: fixed;
  }
}

.site-footer {
  padding-bottom: 2em;
  background: black;
}
.site-footer #menu-clutch-menu-pages-2 {
  margin: 0;
  padding: 0;
}
.site-footer .social,
.site-footer .menu,
.site-footer .copyright {
  font-size: 1em;
  text-align: center;
  color: #959595;
}
@media (min-width: 768px) {
  .site-footer .social,
  .site-footer .menu,
  .site-footer .copyright {
    font-size: 1.25em;
  }
}
@media (min-width: 1024px) {
  .site-footer .social,
  .site-footer .menu,
  .site-footer .copyright {
    font-size: 1.75em;
  }
}
.site-footer .social a:visited,
.site-footer .menu a:visited {
  color: inherit;
}
.site-footer .social a:hover,
.site-footer .menu a:hover {
  color: white;
  text-decoration: none;
}
.site-footer .social a:not(:first-of-type) span,
.site-footer .menu a:not(:first-of-type) span {
  margin-left: 1em;
}
.site-footer .menu {
  margin-top: .025em;
}
.site-footer .menu li {
  display: inline;
  list-style: none;
  font-family: 'Helvetica Neue';
  font-size: .35em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.site-footer .menu li a {
  color: inherit;
}
.site-footer .menu li a:hover {
  color: white;
  text-decoration: none;
}
.site-footer .menu li:not(:first-of-type) {
  margin-left: 1em;
}
.site-footer .social {
  margin-top: 1em;
}
.site-footer .social a {
  color: #555555;
}
.site-footer .social a:hover {
  color: white;
}
.site-footer .social a:visited {
  color: #555555;
}
.site-footer .copyright {
  margin-top: 2em;
  font-size: .95em;
}

.subscribe-wrapper {
  display: table;
  color: #959595;
  text-align: center;
}
.subscribe-wrapper > div {
  display: table-cell;
  width: -webkit-calc( 33% - 3% );
  width: calc( 33% - 3% );
  padding: 3%;
}
.subscribe-wrapper .heading {
  font-family: "JubilatBold", serif;
  font-size: 1.5em;
}
.subscribe-wrapper a {
  text-transform: uppercase;
}

.category-hero {
  position: relative;
  height: 580px;
  margin-top: 35px;
  margin-bottom: 2em !important;
  background-size: cover;
  background-repeat: no-repeat;
  background: lightgray;
}
@media (min-width: 767px) {
  .category-hero {
    height: 490px;
  }
}
@media (min-width: 1024px) {
  .category-hero {
    margin-top: -18px;
    height: 550px;
  }
}
.category-hero [class^=bg-image] {
  display: none;
}
.category-hero .content-wrapper {
  height: 100%;
  margin: 1.75em 1.25em 2.5em 1em;
}
.category-hero .category, .category-hero .top-posts-wrapper .top-posts-heading, .top-posts-wrapper .category-hero .top-posts-heading {
  position: absolute;
  top: 2.55em;
  left: .65em;
  padding: 0.45rem 0.75rem 0.65rem 0.55rem;
  font-size: 1.65rem;
}
.category-hero .heading {
  position: absolute;
  top: 18%;
  left: 5%;
  max-width: 25em;
  margin-top: 0.1em;
  padding-left: 0.45em;
  font-family: "JubilatBold", serif;
  font-weight: bold;
  font-size: 2.25rem;
  text-transform: capitalize;
  line-height: 1.3em;
}
.category-hero .heading span {
  padding-top: 0em;
  padding-bottom: 0.17em;
  background: white;
  box-shadow: -0.45em 0px 0 white, 0.25em 0px 0 white, 0px 7px 15px -5px black;
}
@media (min-width: 600px) {
  .category-hero .heading {
    width: 15em;
    top: initial;
    bottom: 35%;
    font-size: 1.9375rem;
  }
}
@media (min-width: 768px) {
  .category-hero .heading {
    width: 15em;
    bottom: 45%;
    /*font-size: $font__md-heading-size;*/
  }
}
@media (min-width: 1024px) {
  .category-hero .heading {
    bottom: 23%;
    font-size: 2.25rem;
  }
}
.category-hero .buttons {
  position: absolute;
  left: 10%;
  bottom: 5%;
  width: -webkit-calc(100% - 1.75em);
  width: calc(100% - 1.75em);
  border-spacing: 2em 0;
  font-size: 1em;
  text-align: justify;
}
.category-hero .buttons:after {
  content: '';
  width: 100%;
  /* Ensures there are at least 2 lines of text, so justification works */
  display: inline-block;
}
@media (min-width: 600px) {
  .category-hero .buttons {
    left: 2%;
    bottom: 0;
  }
}
@media (min-width: 768px) {
  .category-hero .buttons {
    left: 1%;
  }
}
@media (min-width: 1024px) {
  .category-hero .buttons {
    margin-top: -18px;
  }
}
.category-hero .hero-button {
  display: inline-block;
  width: 83%;
  height: 3.25em;
  margin-top: 1em;
  padding: 0.5em 0.5em 0.5em -webkit-calc(.5em + 10px);
  padding: 0.5em 0.5em 0.5em calc(.5em + 10px);
  overflow: hidden;
  font-family: "JubilatRegular", serif;
  font-weight: 900;
  font-size: 1.15em;
  color: #333333;
  text-align: left;
  line-height: 1.25em;
  background: white;
  border-left: 4px solid blue;
}
.category-hero .hero-button.active, .category-hero .hero-button:hover {
  text-decoration: none;
  background: white;
  border-left: 10px solid blue;
  padding-left: -webkit-calc(.5em + 4px);
  padding-left: calc(.5em + 4px);
  font-size: 1.3em;
}
@media (min-width: 600px) {
  .category-hero .hero-button {
    width: 49%;
    margin-top: 1em;
    height: 4em;
  }
}
@media (min-width: 768px) {
  .category-hero .hero-button {
    width: 32%;
    margin-top: 1em;
  }
}
@media (min-width: 1024px) {
  .category-hero .hero-button {
    width: 22%;
    margin-top: 0;
  }
}

.post {
  position: relative;
}
.post:not(:first-of-type):not(.trending):not(.latest) {
  margin-top: 2em;
  margin-bottom: 2em;
}
.post a,
.post a:hover,
.post a:visited {
  text-decoration: none;
  color: inherit;
}
.post p {
  margin-bottom: 0;
}

.category, .top-posts-wrapper .top-posts-heading {
  display: inline-block;
  background: #252e74;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

.meta {
  margin-bottom: .45em;
  font-size: .9em;
  font-weight: bold;
  text-transform: uppercase;
  color: #212121;
}
.meta .clutch {
  color: #2d388f;
}
.meta .date {
  font-weight: 500;
  color: gray;
}

.divider {
  color: #3340a2;
}

.heading {
  /*font-family: $font__main-secondary;*/
  font-family: "JubilatBold", serif;
  font-weight: bold;
}
.heading span {
  z-index: 2;
}

.caption {
  /*font-family: $font__secondary;*/
  font-family: 'Aleo Regular';
  font-size: 1.35rem;
  font-weight: 400;
  color: black;
}

.player-icon {
  position: absolute;
  width: 10%;
  margin: 0 auto;
  top: 30%;
  left: 0;
  right: 0;
}

.bg-image {
  background-size: cover;
}

.aspect-image {
  position: relative;
  background-color: lightgray;
}
.aspect-image img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.aspect-image:after {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  -webkit-transition: .15s all linear;
          transition: .15s all linear;
  z-index: 0;
}
.aspect-image:hover:after {
  background: rgba(0, 0, 0, 0.09);
}

.featured-large-video-post,
.featured-large {
  position: relative;
}
.featured-large-video-post:not(:first-of-type),
.featured-large:not(:first-of-type) {
  border-top: 1px solid #f0f0f0;
  padding-top: 2.2em;
}
.featured-large-video-post .text-wrapper,
.featured-large .text-wrapper {
  position: absolute;
  bottom: 0%;
}
.featured-large-video-post .category, .featured-large-video-post .top-posts-wrapper .top-posts-heading, .top-posts-wrapper .featured-large-video-post .top-posts-heading,
.featured-large .category,
.featured-large .top-posts-wrapper .top-posts-heading,
.top-posts-wrapper .featured-large .top-posts-heading {
  position: relative;
  bottom: -3px;
  padding: 0.45rem 0.75rem 0.65rem 0.55rem;
}
.featured-large-video-post .heading,
.featured-large .heading {
  position: relative;
  left: -1px;
  width: 98%;
  margin-top: 0.1em;
  padding-left: 0.45em;
  font-size: 2.75rem;
  line-height: 1.3em;
  background: white;
}
@media (min-width: 768px) {
  .featured-large-video-post .heading,
  .featured-large .heading {
    font-size: 2.25rem;
  }
}
@media (min-width: 1024px) {
  .featured-large-video-post .heading,
  .featured-large .heading {
    font-size: 2.75rem;
  }
}
.featured-large-video-post .heading span,
.featured-large .heading span {
  padding-top: 0em;
  padding-bottom: 0.17em;
  /*background: $color__site-background;*/
  /*box-shadow: $shadow__heading;*/
}
.featured-large-video-post .meta,
.featured-large .meta {
  margin-top: .95em;
  margin-bottom: 0;
  padding-left: .2em;
  /*font-size: 1.15em;*/
}
.featured-large-video-post .meta .date,
.featured-large .meta .date {
  /*font-size: .95em;*/
}
.featured-large-video-post .caption,
.featured-large .caption {
  display: block;
  margin-top: .5em;
  padding: 0 .25em;
  font-size: 1.445rem;
  line-height: 1.5em;
  letter-spacing: -0.02em;
}
@media (min-width: 768px) {
  .featured-large-video-post .caption,
  .featured-large .caption {
    font-size: 1.35rem;
  }
}
@media (min-width: 1024px) {
  .featured-large-video-post .caption,
  .featured-large .caption {
    font-size: 1.207rem;
  }
}
.featured-large-video-post .aspect-ratio,
.featured-large .aspect-ratio {
  padding-bottom: 48.66%;
}

.featured-large-video-post .text-wrapper {
  position: absolute;
  bottom: 15%;
}
.featured-large-video-post [id^="video-"] {
  position: relative;
  padding-top: 35px;
  padding-bottom: 48.66%;
  height: 0;
  overflow: hidden;
}
.featured-large-video-post [id^="video-"] iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home-page .featured-large .text-wrapper {
  bottom: 19%;
}

.search-results .featured-large-video-post,
.search-results .featured-large {
  border: 0 none;
}

.full-width {
  position: relative;
}
.full-width .aspect-ratio {
  padding-bottom: 28%;
}
.full-width .bg-image {
  min-height: 300px;
}
.full-width .text-wrapper {
  position: absolute;
  bottom: 0%;
  color: black;
  padding-left: 1.5em;
  padding-bottom: 2em;
}
.full-width .text-wrapper .heading,
.full-width .text-wrapper .caption {
  font-family: "JubilatBold", serif;
}
.full-width .text-wrapper .heading span,
.full-width .text-wrapper .caption span {
  background: white;
  box-shadow: -0.45em 0px 0 white, 0.25em 0px 0 white;
}

.featherlight-content {
  position: relative !important;
  padding-top: 35px !important;
  padding-bottom: 48.66% !important;
  height: 0 !important;
  overflow: hidden !important;
  width: 65%;
}
.featherlight-content iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.half {
  margin-top: 2em;
}
@media (min-width: 768px) {
  .half {
    margin-top: 0;
  }
}
.half .aspect-ratio {
  padding-bottom: 68.75%;
}
.half .text-wrapper {
  position: absolute;
  bottom: 6%;
}
.half .category, .half .top-posts-wrapper .top-posts-heading, .top-posts-wrapper .half .top-posts-heading {
  padding: 0.45rem 0.75rem 0.65rem 0.55rem;
}
.half .heading {
  position: relative;
  left: -1px;
  width: 90%;
  margin-top: 0.1em;
  padding-left: 0.45em;
  font-size: 2.75rem;
}
@media (min-width: 768px) {
  .half .heading {
    font-size: 1.8rem;
  }
}
@media (min-width: 1024px) {
  .half .heading {
    font-size: 2.5rem;
  }
}
@media (min-width: 1280px) {
  .half .heading {
    font-size: 2.25rem;
  }
}
.half .heading span {
  padding-top: 0em;
  padding-bottom: 0.17em;
  background: white;
  box-shadow: -0.45em 0px 0 white, 0.25em 0px 0 white, 0px 3px 7px -5px black;
}
.half .caption {
  margin-top: .75em;
  padding-left: .25em;
}

.mini-vid .aspect-ratio {
  padding-bottom: 40%;
}
.mini-vid .text-wrapper {
  position: absolute;
  bottom: 0;
  margin-bottom: 2.5%;
}
.mini-vid .text-wrapper .heading span {
  display: inline-block;
  padding-top: .15em;
}
.mini-vid .category, .mini-vid .top-posts-wrapper .top-posts-heading, .top-posts-wrapper .mini-vid .top-posts-heading {
  padding: 0.45rem 0.75rem 0.65rem 0.55rem;
  margin-bottom: 1px;
}
.mini-vid .heading {
  position: relative;
  left: -1px;
  background: white;
  padding-left: 0.45em;
  font-size: 1.55rem;
}
@media (min-width: 1024px) {
  .mini-vid .heading {
    font-size: 2.75rem;
  }
}
.mini-vid .heading span {
  box-shadow: -0.45em 0px 0 white, 0.25em 0px 0 white;
}

.narrow .aspect-image {
  float: left;
  width: -webkit-calc(50% - 15px);
  width: calc(50% - 15px);
}
.narrow .aspect-image .aspect-ratio {
  padding-bottom: 100%;
}
.narrow .text-wrapper {
  float: left;
  padding-left: 1.5em;
  width: 50%;
}
@media (min-width: 1024px) {
  .narrow .text-wrapper {
    padding-top: 1.2em;
  }
}
.narrow .text-wrapper .category, .narrow .text-wrapper .top-posts-wrapper .top-posts-heading, .top-posts-wrapper .narrow .text-wrapper .top-posts-heading {
  padding: 0.45rem 0.75rem 0.65rem 0.55rem;
}
.narrow .text-wrapper .meta {
  margin-top: .9em;
}
.narrow .text-wrapper .heading {
  margin-top: .5em;
  color: black;
  font-size: 2.75rem;
}
@media (min-width: 768px) {
  .narrow .text-wrapper .heading {
    font-size: 2.25rem;
  }
}
@media (min-width: 1024px) {
  .narrow .text-wrapper .heading {
    margin-top: .35em;
    font-size: 2.75rem;
  }
}
.narrow .text-wrapper .caption {
  margin-top: .65em;
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .narrow .text-wrapper .caption {
    font-size: 1.207rem;
  }
}

.top-posts-wrapper {
  margin-top: -.35em;
}
.top-posts-wrapper .top-posts-heading {
  margin-bottom: .15em;
  margin-left: 2em;
  padding: 1.15rem 0.75rem 0.9rem 0.55rem;
  font-size: 1.5em;
}
.top-posts-wrapper .post-wrapper {
  display: table;
  margin-top: 1.5em;
  border-spacing: 3em 0;
}
.top-posts-wrapper .top-post {
  display: table-cell;
  width: 50%;
}
.top-posts-wrapper .top-post .aspect-ratio {
  padding-bottom: 48.66%;
}
.top-posts-wrapper .top-post img {
  width: 100%;
}
.top-posts-wrapper .top-post .category, .top-posts-wrapper .top-post .top-posts-heading {
  margin-top: 1.15em;
  padding: 0.45rem 0.75rem 0.65rem 0.55rem;
}
.top-posts-wrapper .top-post .meta {
  margin-top: 1em;
}
.top-posts-wrapper .top-post .heading {
  margin-top: .45em;
  font-family: "JubilatBold", serif;
  font-size: 2.25em;
}
.top-posts-wrapper .top-post .caption {
  display: block;
  margin-top: .5em;
}
.top-posts-wrapper .top-post:first-of-type {
  padding-right: 1em;
}
.top-posts-wrapper .top-post:nth-of-type(2) {
  padding-left: 1em;
}
.top-posts-wrapper .more-trigger {
  display: block;
  margin-top: 1.75em;
  font-family: Helvetica Neue, sans-serif;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: inherit;
}
.top-posts-wrapper .more-trigger a {
  color: black;
}
.top-posts-wrapper .more-trigger a .highlight {
  /*color: lighten($clutch-blue, 5%);*/
}
.top-posts-wrapper .more-trigger a:after {
  content: "→";
  margin-left: .25em;
}
.top-posts-wrapper .more-trigger a:hover {
  text-decoration: none;
}

[class*=widget] h2 {
  font-family: "JubilatRegular", serif;
}

.article-more {
  font-size: .9em;
  padding-left: .5em;
  color: #212968 !important;
  text-decoration: underline;
}

.trending-widget {
  margin-top: 2em;
}
.trending-widget h2 {
  width: 60%;
  margin: 0 auto;
  margin-bottom: .25em;
  font-size: 2.6rem;
  font-family: "JubilatBold", serif;
  font-weight: 900;
  text-align: center;
}
@media (min-width: 1100px) {
  .trending-widget h2 {
    font-size: 3.3rem;
  }
}

.trending {
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  padding: .5em;
  background: white;
  -webkit-transition: background .5s ease;
          transition: background .5s ease;
  /*border-bottom: 1px solid $color__sidebar-border;*/
  border-bottom: 1px solid #cacaca;
}
.trending:hover {
  background: #fafafa;
}
.trending .img-wrapper {
  display: inline-block;
  vertical-align: middle;
  width: 30%;
}
.trending .img-wrapper img {
  opacity: 1;
  width: 100%;
  height: 8em;
  padding: .355em;
  /*border: 1px solid $color__sidebar-border; */
  border-radius: 100%;
}
@media (min-width: 768px) {
  .trending .img-wrapper img {
    height: 6em;
  }
}
@media (min-width: 1024px) {
  .trending .img-wrapper img {
    /*height: 7.75em;*/
  }
}
.trending .text-wrapper {
  display: inline-block;
  vertical-align: middle;
  width: -webkit-calc(70% - 2em);
  width: calc(70% - 2em);
  margin-left: 1em;
}
.trending .sidebar-category {
  display: inline-block;
  margin-bottom: .35em;
  padding: .15em .45em;
  font-family: Helvetica Neue, sans-serif;
  font-weight: light;
  color: white;
  background: #212968;
}
@media (min-width: 1024px) {
  .trending .sidebar-category {
    font-size: 1.085rem;
  }
}
.trending .heading {
  font-size: 2.25rem;
  font-family: "JubilatRegular", serif;
}
@media (min-width: 768px) {
  .trending .heading {
    font-size: 1.25rem;
  }
}
@media (min-width: 1200px) {
  .trending .heading {
    font-size: 1.55rem;
  }
}
@media (min-width: 768px) {
  .trending {
    padding: .5em;
  }
  .trending .img-wrapper {
    width: 32.5%;
  }
  .trending .text-wrapper {
    margin-left: 1em;
  }
}
@media (min-width: 1100px) {
  .trending {
    padding: 1.5em;
  }
  .trending .img-wrapper {
    width: 30%;
  }
  .trending .text-wrapper {
    margin-left: 1em;
  }
}
@media (min-width: 1320px) {
  .trending {
    padding: .95em 1em;
  }
  .trending .img-wrapper {
    width: -webkit-calc(30% - .30em);
    width: calc(30% - .30em);
  }
  .trending .text-wrapper {
    margin-left: 2em;
  }
}

.latest-widget h2 {
  width: 80%;
  margin: .65em auto 0;
  margin-bottom: .45em;
  font-family: "JubilatBold", serif;
  font-size: 2.6rem;
  text-align: center;
}
@media (min-width: 1100px) {
  .latest-widget h2 {
    font-size: 3.3rem;
  }
}

.latest {
  margin-top: 1.35em;
}
.latest:not(:last-of-type) {
  padding-bottom: 1.4em;
  /*border-bottom: 1px solid $color__sidebar-border;*/
  border-bottom: 1px solid #cacaca;
}
.latest:last-of-type {
  padding-bottom: 1em;
}
.latest .aspect-ratio {
  padding-bottom: 42%;
}
.latest .img-wrapper img {
  width: 100%;
  text-align: center;
  padding: .355em;
  border: 1px solid #f0f0f0;
}
.latest .meta {
  margin-top: .9em;
  font-size: 1.1em;
}
.latest .heading {
  margin-top: .15em;
  /*font-family: $font__secondary;*/
  font-family: 'Aleo Regular';
  font-size: 1.4645em;
  line-height: 1.25;
  margin-bottom: .15em;
}
@media (min-width: 768px) {
  .latest .heading {
    font-size: 1.55rem;
  }
}
@media (min-width: 1024px) {
  .latest .heading {
    font-size: 1.55rem;
  }
}
.latest .latest-meta {
  margin: .75em 0;
  font-family: Helvetica Neue, sans-serif;
  font-size: 0.855rem;
  font-style: normal;
  text-transform: uppercase;
  color: white;
}
.latest .latest-meta .category, .latest .latest-meta .top-posts-wrapper .top-posts-heading, .top-posts-wrapper .latest .latest-meta .top-posts-heading {
  display: inline-block;
  padding: .25em .45em;
  background: #212968;
  color: white;
  font-size: 1rem;
}
.latest .latest-meta .date {
  color: gray;
}
@media (min-width: 1024px) {
  .latest .latest-meta {
    font-size: 0.96rem;
  }
}
.latest .caption {
  font-size: 1.1em;
}

.single-post .square-ad-wrapper {
  border-top: none;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 2.75em;
}

.square-ad-wrapper {
  width: 80%;
  padding: 2em;
  margin: 2em auto 0;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
}
.square-ad-wrapper img {
  width: 100%;
}

.wide-ad-wrapper {
  width: 95%;
  margin: 0 auto;
}
.wide-ad-wrapper img {
  width: 100%;
  height: 25em;
  margin: 2em 0;
}

.single-post .article-content-wrapper {
  padding-top: 5em;
  font-family: 'Aleo Regular';
  font-size: 1.5rem;
}
.single-post .hero-wrapper {
  overflow: visible !important;
}
.single-post hr {
  margin-top: 1em;
  margin-bottom: 1em;
}
.single-post .trending {
  width: 90%;
}
.single-post .latest {
  width: 90%;
  margin: 1.65em auto;
}
.single-post .latest .img-wrapper {
  /*display: none;*/
}
.single-post .square-ad-wrapper {
  display: none;
}

.article-hero {
  position: relative;
  height: 25em;
  background-size: cover;
  background-repeat: no-repeat;
  background: lightgray;
}
@media (min-width: 900px) {
  .article-hero {
    height: 34em;
  }
}
.article-hero [class^=bg-image] {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}
.article-hero .content-wrapper {
  position: absolute;
  bottom: -65px;
  left: 15px;
  width: 93%;
}
@media (min-width: 900px) {
  .article-hero .content-wrapper {
    left: 11%;
  }
}
.article-hero .category, .article-hero .top-posts-wrapper .top-posts-heading, .top-posts-wrapper .article-hero .top-posts-heading {
  padding: 0.45rem 0.75rem 0.65rem 0.55rem;
  font-size: 1.35rem;
}
.article-hero .heading {
  width: 100%;
  padding-left: 0.45em;
  padding-top: .45em;
  background: white;
  font-family: "JubilatBold", serif;
  font-size: 2em;
  font-weight: bold;
  line-height: 1.3em;
  text-transform: capitalize;
}
@media (min-width: 600px) {
  .article-hero .heading {
    width: 80%;
  }
}
@media (min-width: 1024px) {
  .article-hero .heading {
    font-size: 3.4375rem;
  }
}
.article-hero .meta {
  padding-left: 1.2em;
}

.article-sharing-buttons {
  margin-top: 4em;
  margin-bottom: 2em;
}
.article-sharing-buttons > div {
  padding: .60em .95em;
  display: inline;
  border: 3px solid;
  border-radius: 5px;
  background: gray;
  font-size: 1.05rem;
  font-weight: bold;
  font-family: Helvetica Neue, sans-serif;
  text-transform: uppercase;
}
.article-sharing-buttons > div a {
  color: white;
}
.article-sharing-buttons > div a:hover {
  text-decoration: none;
}
.article-sharing-buttons > div i {
  margin-right: .5em;
}
.article-sharing-buttons .facebook {
  background: #3b5998;
  border-color: #3b5998;
}
.article-sharing-buttons .facebook:hover {
  background: transparent;
}
.article-sharing-buttons .facebook:hover a {
  color: #3b5998;
}
.article-sharing-buttons .facebook:hover i {
  color: #3b5998;
}
.article-sharing-buttons .twitter {
  background: #55acee;
  border-color: #55acee;
}
.article-sharing-buttons .twitter:hover {
  background: transparent;
}
.article-sharing-buttons .twitter:hover a {
  color: #55acee;
}
.article-sharing-buttons .twitter:hover i {
  color: #55acee;
}
.article-sharing-buttons .email {
  background: #cb2027;
  border-color: #cb2027;
}
.article-sharing-buttons .email:hover {
  background: transparent;
}
.article-sharing-buttons .email:hover a {
  color: #cb2027;
}
.article-sharing-buttons .email:hover i {
  color: #cb2027;
}

.search-bar {
  display: none;
}
.search-bar.active {
  float: left;
  position: relative;
  left: 15%;
  display: inline-block;
  width: 50%;
}
.search-bar .search-input {
  border: none;
  font-size: 1.75em;
  width: 100%;
}
.search-bar .search-input:focus {
  outline: none;
}

.top .search-bar {
  position: absolute;
  width: 75%;
}

.invisible {
  visibility: hidden;
}

[data-vc-full-width] .vc_column-inner {
  padding: 0 !important;
}

/*#wpadminbar { display: none; }*/
/*.entry-footer { display: none; }*/
html {
  font-size: 14px;
}

.hentry {
  margin-bottom: 0;
}

.entry-content {
  background: white;
}
@media (min-width: 768px) {
  .entry-content {
    padding: 0 1.5em;
  }
}

.wpb_row {
  margin-bottom: 0px !important;
}

.entry-content {
  overflow: hidden;
}
.entry-content .vc_row:not(:first-of-type) {
  margin-top: 2em;
  margin-bottom: 2em;
}
.entry-content > [class*='vc_row'] > [class*='vc_col']:first-of-type {
  padding-right: 1.8em;
  padding-left: 1.8em;
}
.entry-content > [class*='vc_row'] > [class*='vc_col']:not(:first-of-type) {
  padding-left: 1.8em;
  /*border-left: 1px dotted darken($color__sidebar-border, 15%);*/
  border-left: 1px solid #cacaca;
}

hr {
  width: 100%;
  margin: 1.5em auto 0;
  border-top: 1px solid #f0f0f0;
}
hr.narrow {
  margin-top: 2em;
}
hr.narrow:last-of-type {
  display: none;
}

.shift-right {
  position: relative;
  left: 24em;
}

#shadow {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  width: 100%;
  height: 100%;
  display: none;
}
#shadow.active {
  display: block;
}

.youtube-embed *:not(iframe) {
  display: none;
}

.youtube-embed iframe {
  margin-top: 1em;
}
