.single-post .square-ad-wrapper {
    border-top: none;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 2.75em;
}

.square-ad-wrapper {
    width: 80%;
    padding: 2em;
    margin: $margin__post-top auto 0;

    img { width: 100%; }

    border-top: 1px solid darken($color__sidebar-border, 15%);
    border-bottom: 1px solid darken($color__sidebar-border, 15%);
}

