.article-sharing-buttons {
    margin-top: 4em;
    margin-bottom: 2em;

    & > div {
        padding: .60em .95em;
        display: inline;
        border: 3px solid;
        border-radius: 5px;
        background: gray;
        font-size: 1.05rem;
        font-weight: bold;
        font-family: $font__secondary;
        text-transform: uppercase;

        a {
            color: white;

            &:hover {
                text-decoration: none;
            }
        }

        i {
            margin-right: .5em;
        }
    }

    .facebook {
        $bg: #3b5998;
        background: $bg;
        border-color: $bg;

        &:hover {
            background: transparent; 

            a {
                color: $bg;
            }

            i {
                color: $bg;
            }
        }
    }

    .twitter {
        $bg: #55acee;
        background: $bg;
        border-color: $bg;

        &:hover {
            background: transparent; 

            a {
                color: $bg;
            }

            i {
                color: $bg;
            }
        }
    }

    .email {
        $bg: #cb2027;
        background: $bg;
        border-color: $bg;

        &:hover {
            background: transparent; 

            a {
                color: $bg;
            }

            i {
                color: $bg;
            }
        }
    }
}

