.single-post {
    .article-content-wrapper {
        padding-top: 5em;
        font-family: 'Aleo Regular';
        font-size: 1.5rem;
    }

    .hero-wrapper {
        overflow: visible !important;
    }

    hr {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .trending {
        width: 90%;
    }

    .latest {
        width: 90%;
        margin: 1.65em auto;

        .img-wrapper {
            /*display: none;*/
        }
    }

    .square-ad-wrapper {
        display: none;
    }
}


