@font-face {
    font-family: 'JubilatBold';
    src: url('fonts/jubilat-bold-webfont.eot');
    src: url('fonts/jubilat-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/jubilat-bold-webfont.woff') format('woff'),
        url('fonts/jubilat-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JubilatRegular';
    src: url('fonts/jubilat-regular-webfont.eot');
    src: url('fonts/jubilat-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/jubilat-regular-webfont.woff') format('woff'),
        url('fonts/jubilat-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/HelveticaNeue-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/HelveticaNeue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/HelveticaNeue-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Aleo Regular';
    src: url('fonts/Aleo-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura ICG Demi';
    src: url('fonts/futura-icg-demi.ttf');
    font-weight: normal;
    font-style: normal;
}

// Color values
$clutch-blue: #212968;

// Clutch element colors
$color__category: white;
$color__sidebar-category-label: white;
$color__latest-category-label: white;
$color__background-category-label: lighten($clutch-blue, 3%);
$color__text-color: black;
$color__footer-text: #959595;
$color__caption: darken(#212121, 15%);
$color__meta: #212121;
$color__date: lighten(#4D4D4D, 20%);

// _s colors
$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

/*$color__text-screen: #21759b;*/
$color__text-screen: black;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: $color__text-color;
$color__text-caption: $color__caption;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__site-background: white;
$color__sticky-background: rgba($color__site-background, 0.7);

$color__sidebar-border: rgb(240,240,240);

// Typography
$base-font-size: 14px;
$font__base-size: $base-font-size;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$font__secondary: Helvetica Neue, sans-serif;
$font__main-secondary: "JubilatRegular", serif;
$font__main: $font__secondary;
$font__heading: "JubilatBold", serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;

$font__sidebar-heading: $font__main-secondary;
$font__more-trigger: $font__main-secondary;
$font__caption: $font__main;
$font__category-label: $font__main;

$font__xxl-heading-size: 4.4rem;
$font__xl-heading-size: 2.75rem;
$font__lg-heading-size: 2.75rem;
$font__md-heading-size: 2.25rem;
$font__sm-heading-size: 1.55rem;
$font__xs-heading-size: .9rem;
$font__xxs-heading-size: .65rem;

$font__lg-caption-size: 1.7rem;
$font__md-caption-size: 1.55rem;
$font__sm-caption-size: 1.35rem;

$font__category-label-size: 1.2rem;
$font__md-category-label-size: 1.4rem;
$font__sm-category-label-size: 1.2rem;

$font__sidebar-heading-size: 3.3rem;
$font__sidebar-sm-heading-size: 2.6rem;

$font__icon-size: 2rem; // multiplier for rem


// Structure 
$size__site-main: 100%;
$size__site-sidebar: 25%;
$size__content-outer-padding: 1.5em;
$size__mobile-nav-shift: 24em;


$padding__featured-large-post-aspect: 48.66%;
$padding__half-post-aspect: 68.75%;
$padding__narrow-post-aspect: 100%;
$padding__mini-vid-post-aspect: 40%;
$padding__full-width-post-aspect: 28%;
$padding__top-post-aspect: 100%;
$padding__latest-aspect: 42%;

$margin__post-top: 2em;

$padding__category-spacing-featured: .45rem 0.75rem .65rem 0.55rem;
$padding__category-spacing-narrow: .45rem 0.75rem .65rem 0.55rem;
$padding__category-spacing-half: .45rem 0.75rem .65rem .55rem;
$padding__category-spacing-mini-vid: .45rem 0.75rem .65rem 0.55rem;
$padding__category-spacing-top-posts: .45rem 0.75rem .65rem 0.55rem;
$padding__category-spacing-top-posts-heading: 1.15rem 0.75rem .9rem 0.55rem;

$margin__heading-top: .1em;
$padding__heading-top: .0em;
$padding__heading-bottom: .17em;
$padding__heading-left: .45em;
$padding__heading-right: .25em;

$font__menu-size: 1.25em;  
$size__logo-height: 1em;
$margin__menu: 2 * 1em;
$size__menu: $font__menu-size + $margin__menu;
$margin__site-content: ($size__logo-height) + $size__menu ;
$padding__header-top: 2em;

$margin__subscribe-content: 3%;
$padding__right-full-width: calc(100% + #{$size__content-outer-padding} * 2 + 15px); /* compensate for: custom col paddings + 30px/2 <- bootstrap @grid-gutter-width used w/ neg margins */

$shadow__heading: -$padding__heading-left 0px 0 $color__site-background, $padding__heading-right 0px 0 $color__site-background, 0px 3px 7px -5px black; // todo: use var for color
$shadow__heading-hero: -$padding__heading-left 0px 0 $color__site-background, $padding__heading-right 0px 0 $color__site-background, 0px 7px 15px -5px black; // todo: use var for color

// Bootstrap Overrides
$headings-color: $color__text-main;

// Media Query breakpoints
$media-md: 768px;
$media-lg: 1024px;

// Mixins

.fw {
    width: 100%;
}

.reset-margins {
    margin: 0;
}

.reset-padding {
    padding: 0 !important;
}

.shrink {
    height: 0em !important;
    padding-top: 0 !important;
}

.header-adjusted {
    margin-top: calc(-#{$margin__site-content}) !important; 
}

