.category-hero {
    position: relative;
    height: 580px;
    margin-top: 35px; // est height of header nav
    margin-bottom: 2em !important;

    background-size: cover;
    background-repeat: no-repeat;
    background: lightgray;

    @media (min-width: 767px) { 
        height: 490px; 
    }

    @media (min-width: 1024px) {
        margin-top: -18px; 
        height: 550px;
    }


    [class^=bg-image] {
        display: none;
    }

    // full width, butt up to header nav
    .content-wrapper {
        height: 100%;
        margin: 1.75em 1.25em 2.5em 1em; // TODO: change to percentages
    }

    .category {
        position: absolute;
        top: 2.55em;
        left: .65em;
        padding: $padding__category-spacing-featured; 
        font-size: 1.65rem;
    }

    .heading {
        @extend .reset-margins;

        // grow upwards
        position: absolute;
        top: 18%; 
        left: 5%;
        max-width: 25em;
        margin-top: $margin__heading-top;
        padding-left: $padding__heading-left;

        font-family: $font__heading;
        font-weight: bold;
        font-size: $font__md-heading-size;
        text-transform: capitalize;
        line-height: 1.3em;

        span {
            padding-top: $padding__heading-top;
            padding-bottom: $padding__heading-bottom;
            background: $color__site-background;
            box-shadow: $shadow__heading-hero;
        }

        @media (min-width: 600px) {
            width: 15em;
            top: initial;
            bottom: 35%;
            font-size: $font__sm-heading-size * 1.25;
        }

        @media (min-width: 768px) {
            width: 15em;
            bottom: 45%;
            /*font-size: $font__md-heading-size;*/
        }

        @media (min-width: 1024px) {
            bottom: 23%;
            font-size: $font__md-heading-size;
        }
    }

    .buttons {
        position: absolute;
        left: 10%;
        bottom: 5%;
        width: calc(100% - 1.75em);
        border-spacing: 2em 0;

        font-size: 1em;
        text-align: justify;

        &:after {
            content: '';
            width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
            display: inline-block;
        }

        @media (min-width: 600px) {
            left: 2%;
            bottom: 0;
        }

        @media (min-width: 768px) { 
            left: 1%;
        }

        @media (min-width: 1024px) { 
            margin-top: -18px; 
        }

    }

    .hero-button {
        display: inline-block;
        width: 83%;
        height: 3.25em;
        margin-top: 1em;
        padding: .5em .5em .5em calc(.5em + 10px);
        overflow: hidden;

        font-family: $font__main-secondary;
        font-weight: 900;
        font-size: 1.15em;
        color: $text-color;
        text-align: left;
        line-height: 1.25em;

        background: rgba(255,255,255, 1);
        border-left: 4px solid blue;

        &.active,
        &:hover {
            text-decoration: none;
            background: rgba(255,255,255, 1);
            border-left: 10px solid blue;
            padding-left: calc(.5em + 4px);
            font-size: 1.3em;
        }

        @media (min-width: 600px) {
            width: 49%;
            margin-top: 1em;
            height: 4em;
        }

        @media (min-width: 768px) {
            width: 32%;
            margin-top: 1em;
        }

        @media (min-width: 1024px) {
            width: 22%;
            margin-top: 0;
        }

    }
}
