.article-hero {
    position: relative;

    height: 25em;

    @media (min-width: 900px) { height: 34em; }

    background-size: cover;
    background-repeat: no-repeat;
    background: lightgray;

    [class^=bg-image] {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    // full width, butt up to header nav
    .content-wrapper {
        position: absolute;
        bottom: -65px; // adjusts height of heading
        left: 15px;
        width: 93%;

        @media (min-width: 900px) { 
            left: 11%;
        }
    }

    .category {
        padding: $padding__category-spacing-featured; 
        font-size: 1.35rem;
    }

    .heading {
        @extend .reset-margins;

        width: 100%;
        padding-left: $padding__heading-left;
        padding-top: .45em;
        background: white;

        font-family: $font__heading;
        font-size: 2em;
        font-weight: bold;
        line-height: 1.3em;
        text-transform: capitalize;

        @media (min-width: 600px) {
            width: 80%;
        }

        @media (min-width: 768px) {
        }

        @media (min-width: 1024px) {
            font-size: $font__xl-heading-size * 1.25;
        }
    }

    .meta {
        padding-left: 1.2em;
    }
}
