.site-footer {
    padding-bottom: 2em;
    background: black; 

    //resets 
    #menu-clutch-menu-pages-2 {
        margin: 0;
        padding: 0;
    }

    .social,
    .menu,
    .copyright {
        font-size: 1em;
        text-align: center;
        color: $color__footer-text;

        @media (min-width: $media-md) {
            font-size: 1.25em;
        }

        @media (min-width: $media-lg) {
            font-size: 1.75em;
        }
    }

    .social,
    .menu {  
        a { 
            &:visited {
                color: inherit;
            }

            &:hover {
                color: white;
                text-decoration: none;
            }

            &:not(:first-of-type) span {
                margin-left: 1em;
            }
        }

    }

    .menu {
        margin-top: .025em;

        li {
            display: inline;
            list-style: none;

            font-family: 'Helvetica Neue';
            font-size: .35em;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;

            a {
                color: inherit;

                &:hover {
                    color: white;
                    text-decoration: none;
                }
            }

            &:not(:first-of-type) {
                margin-left: 1em;
            }
        }
    }

    .social {
        margin-top: 1em;
        
        a {
            color: $gray;
            &:hover {
                color: white;
            }
            &:visited {
                color: $gray;
            }
        }
    }

    .copyright {
        margin-top: 2em;
        font-size: .95em;
    }

}

.subscribe-wrapper {
    display: table;
    color: $color__footer-text;
    text-align: center;

    & > div { 
        display: table-cell;
        width: calc( 33% - #{$margin__subscribe-content} ); 

        padding: $margin__subscribe-content;
    }

    .heading { 
        font-family: $font__heading; 
        font-size: 1.5em;
    }

    a { text-transform: uppercase; }
}
