.site-header {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: auto;

    background: $color__site-background;
    box-shadow: 0px -15px 35px 13px black;
    z-index: 100; 

    .top {
        padding: .75em 0 .75em 0;
        background: $color__site-background;
    }

    .logo {
        width: 200px;
        margin: 0 auto;
    }

    .menu { 
        position: relative;
        height: 0; 
        background: rgba($color__site-background, 0.8);

        .logo {
            display: none;
            width: 10.5em;
            position: absolute;
            left: 13%;
            top: 23%;
        }
    }

    [class*=-toggle] {
        display: block !important;
        height: 45%;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        font-size: $font__icon-size;
        color: $clutch-blue;
    }

    .top .menu-toggle {
        left: 7%;
    }

    .top .search-toggle {
        width: 100%;
        right: -90%;
    }

    .social,
    .menu,
    .ad {
        display: none;
    }


    @media (min-width: $media-md) {
        .menu {
            font-size: 1em;
        }
    }

    @media (min-width: $media-lg){
        position: relative;
        margin-bottom: -2em;

        .top .search-toggle,
        .top .menu-toggle {
            display: none !important;
        }

        .menu .search-toggle,
        .menu .menu-toggle {
            display: block;
            position: absolute;
            font-size: 1.5rem;
            color: $clutch-blue;
        }

        .menu .menu-toggle {
            margin-left: 7.5%;
        }

        .menu .search-toggle {
            right: 10%;
            z-index: 2;
        }

        .top {
            padding: 1em 0 0 0;
        }

        .logo {
            width: 37em;

            img { 
                width: 100%;
                height: auto;
            }
        }

        .social {
            display: block;
            position: absolute;
            left: 7.5%; /* 180px / 2400px (from mock) */
            top: calc( 1.25rem );

            a { 
                color: gray;

                &:hover {
                    color: $clutch-blue;
                }
            }

            i {
                width: 1.5em;
                height: 1.5em;
                border: 1px solid lightgray;
                border-radius: 100%;

                font-size: 1.65rem;
                line-height: 1.5em;
                text-align: center;
            }
        }

        .ad {
            display: block;
            position: absolute;
            top: 0;
            right: calc(6% +  100px);
        }

        .menu {
            display: block;
            height: auto;
            padding: .5em 0 .95em 0;

            text-transform: uppercase;

            .items {
                overflow: hidden;

                & > div {
                    position:relative;
                    left:50%;
                    float:left;
                }

                ul {
                    position:relative;
                    left:-50%;
                    float:left;
                    margin-left: .25em;
                    margin-bottom: 0;
                    padding-bottom: 0;
                }
            }

            li {
                float: left;
                list-style: none;

                font-size: 1.15rem;
                font-weight: bold;
                font-family: $font__secondary;

                a {
                    color: black !important;

                    &:hover {
                        color: black;
                        text-decoration: none;
                    }
                }

                &:not(:first-of-type) {
                    margin-left: .65em;
                }
            }

            span:not(:first-of-type) {
                margin-left: 1em;
            }
        }

        &.sticky {
            position: fixed;
        }
    }
}
