.mobile-nav {
    position: fixed;
    left: -$size__mobile-nav-shift;
    width: $size__mobile-nav-shift;
    height: 100vh;
    background: white;
    z-index: 9999;

    &.open {
        left: 0;
    }

    .logo {
        width: 60%;
        margin: 2em auto 0;
    }

    .menu {
        margin: 2em .85em;
        padding-left: 0;

        li {
            padding: .7em 1em .75em 1em;
            border-bottom: 1px solid darken($color__sidebar-border, 4%);
            list-style: none;

            font-family: 'Helvetica Neue';
            font-size: 1.35em;
            font-weight: 600;
            text-transform: uppercase;

            a {
                color: black !important;

                &:hover {
                    color: black;
                    text-decoration: none;
                }
            }
        }
    }

    .social {
        display: block;
        margin-top: 4em;

        text-align: center;

        a { 
            color: gray;

            &:hover {
                color: $clutch-blue;
            }
        }

        i {
            width: 1.5em;
            height: 1.5em;
            border: 1px solid lightgray;
            border-radius: 100%;
            text-align: center;
            font-size: 2em;
            line-height: 1.5em;
        }
    }
}

