.top-posts-wrapper {
    margin-top: -.35em;

    .top-posts-heading { 
        @extend .category;

        margin-bottom: .15em;
        margin-left: 2em;
        padding: $padding__category-spacing-top-posts-heading;
        font-size: 1.5em;
    }

    .post-wrapper {
        display: table;
        margin-top: 1.5em;
        border-spacing: 3em 0;
    }

    .top-post {
        display: table-cell;
        width: 50%;

        .aspect-ratio { padding-bottom: $padding__featured-large-post-aspect; }

        img {
            width: 100%;
        }

        .category {
            margin-top: 1.15em;
            padding: $padding__category-spacing-top-posts;
        }

        .meta {
            margin-top: 1em;
        }

        .heading {
            margin-top: .45em;
            font-family: $font__heading;
            font-size: 2.25em;
        }

        .caption {
            display: block;
            margin-top: .5em;
        }

        &:first-of-type {
            padding-right: 1em;
        }

        &:nth-of-type(2) {
            padding-left: 1em;
        }
    }

    .more-trigger {
        display: block;
        margin-top: 1.75em;

        font-family: $font__secondary;
        font-size: 2em;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        color: inherit;


        a {
            color: $color__text-main;

            .highlight {
                /*color: lighten($clutch-blue, 5%);*/
            }

            &:after {
                content: "→";
                margin-left: .25em;
            }

            &:hover {
                text-decoration: none;
            }
        }
    }
}

