.full-width { 
    position: relative;

    .aspect-ratio { padding-bottom: $padding__full-width-post-aspect; }

    .bg-image {
        min-height: 300px;
    }

    .text-wrapper {
        position: absolute;
        bottom: 0%;
        color: black;
        padding-left: 1.5em;
        padding-bottom: 2em;

        .heading,
        .caption {
            span {
                background: white;
                box-shadow: -$padding__heading-left 0px 0 $color__site-background, $padding__heading-right 0px 0 $color__site-background;
            }

            font-family: $font__heading;
        }
    }

}

.featherlight-content {
    position: relative !important;
    padding-top: 35px !important;
    padding-bottom: $padding__featured-large-post-aspect !important; 
    height: 0 !important;
    overflow: hidden !important;
    width: 65%;

    iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

