.featured-large-video-post,
.featured-large {  
    position: relative; 

    &:not(:first-of-type) {
        border-top: 1px solid $color__sidebar-border;
        padding-top: 2.2em;
    }

    .text-wrapper {
        position: absolute;
        bottom: 0%;
    }

    .category {
        position: relative;
        bottom: -3px;
        padding: $padding__category-spacing-featured; 
    }

    .heading {
        position: relative;
        left: -1px;
        width: 98%;
        margin-top: $margin__heading-top;
        padding-left: $padding__heading-left;
        font-size: $font__xl-heading-size;
        line-height: 1.3em;
        background: white;

        @media (min-width: 768px) {
            font-size: $font__md-heading-size;
        }

        @media (min-width: 1024px) {
            font-size: $font__xl-heading-size;
        }

        span {
            padding-top: $padding__heading-top;
            padding-bottom: $padding__heading-bottom;
            /*background: $color__site-background;*/
            /*box-shadow: $shadow__heading;*/
        }
    }

    .meta {
        margin-top: .95em;
        margin-bottom: 0;
        padding-left: .2em;
        /*font-size: 1.15em;*/

        .date {
            /*font-size: .95em;*/
        }
    }

    // todo: refactor constants to vars (by need)
    .caption {
        display: block;
        margin-top: .5em;
        padding: 0 .25em;

        font-size: $font__lg-caption-size * 0.85;
        line-height: 1.5em;
        letter-spacing: -0.02em;

        @media (min-width: 768px) {
            font-size: $font__sm-caption-size;
        }

        @media (min-width: 1024px) {
            font-size: $font__lg-caption-size * 0.71;
        }
    }

    .aspect-ratio { padding-bottom: $padding__featured-large-post-aspect; }
}

.featured-large-video-post {
    .text-wrapper {
        position: absolute;
        bottom: 15%;
    }

    [id^="video-"] {
        position: relative;
        padding-top: 35px;
        padding-bottom: $padding__featured-large-post-aspect; 
        height: 0;
        overflow: hidden;

        iframe {
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.home-page .featured-large .text-wrapper {
    bottom: 19%;
}

.search-results .featured-large-video-post,
.search-results .featured-large {
    border: 0 none;
}
