.post {
    position: relative;

    &:not(:first-of-type):not(.trending):not(.latest) {
        margin-top: $margin__post-top; 
        margin-bottom: 2em;
    }

    a,
    a:hover, 
    a:visited {
        text-decoration: none;
        color: inherit;
    }

    p {
        margin-bottom: 0;
    }

}

.category {
    display: inline-block;
    background: $color__background-category-label;

    font-size: $font__category-label-size;
    font-weight: bold;
    color: $color__category;
    text-transform: uppercase;     
}

.meta {
    margin-bottom: .45em;
    font-size: .9em;
    font-weight: bold;
    text-transform: uppercase;
    color: $color__meta;

    .clutch {
        color: lighten($clutch-blue, 10%);
    }

    .date {
        font-weight: 500;
        color: $color__date;
    }
}

.divider {
    color: lighten($clutch-blue, 15%);
}

.heading {
    @extend .reset-margins;

    /*font-family: $font__main-secondary;*/
    font-family: $font__heading;
    font-weight: bold;

    span {
        z-index: 2;
    }
}

.caption {
    /*font-family: $font__secondary;*/
    font-family: 'Aleo Regular';
    font-size: $font__sm-caption-size;
    font-weight: 400;
    color: $color__text-caption;
}

.player-icon {
    position: absolute;
    width: 10%;
    margin: 0 auto;
    top: 30%;
    left: 0;
    right: 0;
}

.bg-image {
    background-size: cover;
}

.aspect-image {
    position: relative;
    background-color: lightgray;

    img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        width: 100%;
        height: 100%;
    }

    &:after {
        content: " ";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0);
        transition: .15s all linear;
        z-index: 0;
    }

    &:hover:after {
        background: rgba(0, 0, 0, .09);
    }
} 
