.half {
    margin-top: 2em;

    @media (min-width: 768px) {
        margin-top: 0;
    }

    .aspect-ratio { padding-bottom: $padding__half-post-aspect; }

    .text-wrapper {
        position: absolute;
        bottom: 6%;
    }

    .category { padding: $padding__category-spacing-half; }

    .heading {
        @extend .reset-margins;

        position: relative;
        left: -1px;
        width: 90%;
        margin-top: $margin__heading-top + $padding__heading-top;
        padding-left: $padding__heading-left;
        font-size: $font__xl-heading-size;

        @media (min-width: 768px) {
            font-size: $font__sm-heading-size + .25rem;
        }

        @media (min-width: 1024px) {
            font-size: $font__md-heading-size + .25rem;
        }

        @media (min-width: 1280px) {
            font-size: $font__md-heading-size;
        }

        span {
            padding-top: $padding__heading-top;
            padding-bottom: $padding__heading-bottom;
            background: $color__site-background;
            box-shadow: $shadow__heading;
        }
    }

    .caption {
        margin-top: .75em;
        padding-left: .25em;
    }
}
