.mini-vid {
    .aspect-ratio { padding-bottom: $padding__mini-vid-post-aspect; }

    .text-wrapper {
        position: absolute;
        bottom: 0;
        margin-bottom: 2.5%;

        .heading span {
            display: inline-block;
            padding-top: .15em;
        }
    }

    .category {
        padding: $padding__category-spacing-mini-vid;
        margin-bottom: 1px;
    }

    .heading {
        @extend .reset-margins;

        position: relative;
        left: -1px;
        background: $color__site-background;
        padding-left: $padding__heading-left;
        font-size: $font__sm-heading-size;

        @media (min-width: 1024px) {
            font-size: $font__lg-heading-size;
        }

        span {
            box-shadow: -$padding__heading-left 0px 0 $color__site-background, $padding__heading-right 0px 0 $color__site-background;
        }
    }
}


