.narrow {
    .aspect-image {
        float: left;
        width: calc(50% - 15px);

        .aspect-ratio { padding-bottom: $padding__narrow-post-aspect; }
    }

    .text-wrapper {
        float: left;
        padding-left: 1.5em;
        width: 50%;

        @media (min-width: 1024px) {
            padding-top: 1.2em;
        }

        .category { padding: $padding__category-spacing-narrow; }

        .meta {
            margin-top: .9em;
        }

        .heading {
            margin-top: .5em;
            color: black;
            font-size: $font__xl-heading-size;

            @media (min-width: 768px) {
                font-size: $font__md-heading-size;
            }

            @media (min-width: 1024px) {
                margin-top: .35em;
                font-size: $font__xl-heading-size;
            }
        }

        .caption {
            margin-top: .65em;
            font-size: 1.5rem;

            @media (min-width: 768px){
                font-size: $font__lg-caption-size * 0.71;
            }
        }
    }
}

