.search-bar {
    display: none;

    &.active {
        float: left;
        position: relative;
        left: 15%;
        display: inline-block;
        width: 50%;
    }

    .search-input {
        border: none;
        font-size: 1.75em;
        width: 100%;

        &:focus {
            outline: none;
        }
    }
}

.top .search-bar {
    position: absolute;
    width: 75%;
}

.invisible {
    visibility: hidden;
}
