.trending-widget {
    margin-top: 2em;

    h2 {
        width: 60%;
        margin: 0 auto;
        margin-bottom: .25em;

        font-size: $font__sidebar-sm-heading-size;
        font-family: $font__heading;
        font-weight: 900;
        text-align: center;

        @media (min-width: 1100px) {
            font-size: $font__sidebar-heading-size;
        }

    }
}

.trending {
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    padding: .5em;
    background: $color__site-background;
    transition: background .5s ease;

    /*border-bottom: 1px solid $color__sidebar-border;*/
    border-bottom: 1px solid darken($color__sidebar-border, 15%);

    &:hover {
        background: darken($color__site-background, 2%);
    }

    .img-wrapper {
        display: inline-block;
        vertical-align: middle;
        width: 30%;

        img {
            opacity: 1; // reset from .post

            width: 100%;
            height: 8em;
            padding: .355em;
            /*border: 1px solid $color__sidebar-border; */
            border-radius: 100%;

            @media (min-width: 768px) {
                height: 6em;
            }

            @media (min-width: 1024px) {
                /*height: 7.75em;*/
            }
        }
    }

    .text-wrapper {
        display: inline-block;
        vertical-align: middle;
        width: calc(70% - 2em);
        margin-left: 1em;
    }

    .sidebar-category {
        display: inline-block;
        margin-bottom: .35em;
        padding: .15em .45em;
        font-family: $font__secondary;
        font-weight: light;
        color: $color__sidebar-category-label;
        background: $clutch-blue;

        @media (min-width: 1024px) {
            font-size: $font__sm-heading-size * .7;
        }
    }

    .heading { 
        font-size: $font__md-heading-size; 
        font-family: $font__main-secondary;

        @media (min-width: 768px) {
            font-size: $font__xs-heading-size + .35rem; 
        }

        @media (min-width: 1200px ){
            font-size: $font__sm-heading-size; 
        }
    }

    // padding/margin changes
    @media (min-width: 768px) {
        padding: .5em;

        .img-wrapper {
            width: 32.5%;
        }

        .text-wrapper {
            margin-left: 1em;
        }
    }

    @media (min-width: 1100px) {
        padding: 1.5em;

        .img-wrapper {
            width: 30%;
        }

        .text-wrapper {
            margin-left: 1em;
        }
    }

    @media (min-width: 1320px) {
        padding: .95em 1em;

        .img-wrapper {
            width: calc(30% - .30em); // TODO: adjust these sizes
        }

        .text-wrapper {
            margin-left: 2em;
        }
    }
}

