.latest-widget {
    h2 {
        width: 80%;
        margin: .65em auto 0;
        margin-bottom: .45em;

        font-family: $font__heading;
        font-size: $font__sidebar-sm-heading-size;
        text-align: center;

        @media (min-width: 1100px) {
            font-size: $font__sidebar-heading-size;
        }
    }
}

.latest {
    margin-top: 1.35em;

    &:not(:last-of-type) {
        padding-bottom: 1.4em;
        /*border-bottom: 1px solid $color__sidebar-border;*/
        border-bottom: 1px solid darken($color__sidebar-border, 15%);
    }

    &:last-of-type {
        padding-bottom: 1em;
    }

    .aspect-ratio { padding-bottom: $padding__latest-aspect; }

    .img-wrapper img {
        width: 100%; 
        text-align: center;
        padding: .355em;
        border: 1px solid $color__sidebar-border; 
    }

    .meta {
        margin-top: .9em;
        font-size: 1.1em;
    }

    .heading {
        margin-top: .15em;
        /*font-family: $font__secondary;*/
        font-family: 'Aleo Regular';
        font-size: 1.4645em;
        line-height: 1.25;
        margin-bottom: .15em;

        @media (min-width: 768px) {
            font-size: $font__sm-heading-size;
        }

        @media (min-width: 1024px) {
            font-size: $font__sm-heading-size;
        }
    }

    .latest-meta {
        margin: .75em 0;

        font-family: $font__category-label;
        font-size: $font__xs-heading-size * 0.95;
        font-style: normal;
        text-transform: uppercase;
        color: $color__latest-category-label;

        .category {
            display: inline-block;
            padding: .25em .45em;
            background: $clutch-blue;
            color: white;
            font-size: 1rem;
        }

        .date {
            color: $color__date;
        }

        @media (min-width: 1024px) {
            font-size: $font__sm-category-label-size * .8;
        }
    }


    .caption {
        font-size: 1.1em;
    }
}

